@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700;1,800&display=swap");
.content {
  font-size: 20px;
  background-color: #FFFAFF;
  font-family: "Quicksand", sans-serif;
}

.title {
  text-align: center;
  padding: 0;
  font-size: 3em;
  margin: 0;
  padding: 60px 20px;
}

.navBar {
  font-size: 20px;
  background-color: #F2CD5D;
  margin: 0;
  padding: 0;
  width: 100%;
  top: 0;
  left: 0;
}

.navLinks {
  list-style: none;
  margin: auto;
}

.link {
  display: inline;
  font-family: "Quicksand", sans-serif;
  text-align: center;
  text-decoration: none;
  color: #302B27;
  font-weight: bold;
  padding: 10px;
  margin: 0;
  text-align: left;
}

@-webkit-keyframes bounce_1 {
  0% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
  10% {
    -webkit-transform: scale(1, 0.9) translateY(0px);
            transform: scale(1, 0.9) translateY(0px);
  }
  30% {
    -webkit-transform: scale(0.9, 1) translateY(-90px);
            transform: scale(0.9, 1) translateY(-90px);
  }
  100% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
}

@keyframes bounce_1 {
  0% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
  10% {
    -webkit-transform: scale(1, 0.9) translateY(0px);
            transform: scale(1, 0.9) translateY(0px);
  }
  30% {
    -webkit-transform: scale(0.9, 1) translateY(-90px);
            transform: scale(0.9, 1) translateY(-90px);
  }
  100% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
}

.bubblesContainer {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  font-family: "Raleway", sans-serif;
  font-size: 1.1em;
}

.bubblesContainer .p1 {
  padding: 50px 45px;
}

.bubblesContainer .p2 {
  padding: 50px 35px;
}

.bubblesContainer .p4 {
  padding: 50px 40px;
}

.bubblesContainer .p5 {
  padding: 50px 45px;
}

.bubblesContainer .p6 {
  padding: 50px 45px;
}

.bubble {
  text-align: center;
  display: inline-block;
  font-size: 0.9em;
  border-radius: 50%;
  font-weight: bolder;
  color: #FFFAFF;
  margin: 5px;
  border: solid 3px #FFFAFF;
  -webkit-transition: border 2s;
  transition: border 2s;
}

.animate {
  -webkit-animation-name: bounce_1;
          animation-name: bounce_1;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.p1:hover,
.p2:hover,
.p3:hover,
.p4:hover,
.p5:hover,
.p6:hover,
.p7:hover {
  border: solid 3px #EAEAEA;
  -webkit-animation-name: bounce_1;
          animation-name: bounce_1;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
}

.b1 {
  background-color: #8AE9C1;
}

.b2 {
  background-color: #FC6471;
}

.b3 {
  background-color: #B4A0E5;
}

.infoContents {
  background-color: #EAEAEA;
  border-radius: 20px;
  width: 70%;
  margin-top: 30px;
  margin: 50px auto 50px auto;
  padding: 30px;
}

.infoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.infoTitle {
  word-wrap: break-word;
  background-color: #B4A0E5;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 40px;
  margin: 20px;
  color: #FFFAFF;
  border-radius: 20px;
  text-align: left;
  font-weight: bold;
}

.item {
  padding: 10px;
}

.infoText {
  width: 50%;
  height: 250px;
}

.infoImage {
  width: 50%;
}

.aboutImages {
  width: 100%;
}

.buttonAbout {
  background-color: #EAEAEA;
  border-radius: 50%;
  border: none;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
  -webkit-box-shadow: 0 2px 2px;
          box-shadow: 0 2px 2px;
}

.buttonImage {
  -webkit-transform: scale(0.8, 0.8);
          transform: scale(0.8, 0.8);
}

.buttonAbout:hover {
  background-color: #FFFAFF;
  border-radius: 50%;
  -webkit-transition: 1s;
  transition: 1s;
}

.MobileViewAbout {
  display: None;
}

.MobileViewAbout .infoTitle {
  background-color: #EAEAEA;
  color: #302B27;
}

.MobileViewAbout .item {
  background-color: #FFFAFF;
  border-radius: 20px;
}

.MobileViewAbout .b3 {
  background-color: #B4A0E5;
}

.MobileViewAbout .b1 {
  background-color: #8AE9C1;
}

.MobileViewAbout .b2 {
  background-color: #FC6471;
}

.MobileViewAbout .b4 {
  background-color: #274690;
}

.mitem {
  margin: 40px auto;
}

@media screen and (max-width: 800px) {
  .infoContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding: 10px;
    margin: auto;
  }
  .title {
    font-size: 40px;
    margin: 10px;
  }
  .MobileViewAbout {
    display: block;
  }
  .MobileViewAbout .infoTitle {
    padding: 10px;
    text-align: center;
    margin: 10px auto;
  }
  .MobileViewAbout .infoContents {
    width: 90%;
    padding: 5px;
  }
  .MobileViewAbout .infoText, .MobileViewAbout .infoImage {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 90%;
    padding: 5px;
    text-align: center;
  }
  .MobileViewAbout .aboutImages {
    border-radius: 20px;
    width: 95%;
    padding: 5px;
  }
  .bubblesContainer, .main {
    display: None;
  }
}

@media screen and (max-width: 600px) {
  .infoContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .title {
    font-size: 30px;
    margin: 10px;
  }
  .MobileViewAbout {
    display: block;
  }
  .MobileViewAbout .infoTitle {
    padding: 10px;
    text-align: center;
    margin: 10px auto;
  }
  .MobileViewAbout .infoContents {
    width: 90%;
    padding: 5px;
  }
  .MobileViewAbout .infoText, .MobileViewAbout .infoImage {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 90%;
    padding: 5px;
    text-align: center;
  }
  .MobileViewAbout .aboutImages {
    border-radius: 20px;
    width: 95%;
    padding: 5px;
  }
  .bubblesContainer, .main {
    display: None;
  }
}

.contact-html {
  text-align: center;
  font-family: "Quicksand", sans-serif;
}

.msg-form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.msg-form input, .msg-form textarea {
  margin: 10px;
  width: 200px;
  height: 30px;
  text-align: left;
  padding-left: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  border: none;
}

.msg-form #email {
  width: 425px;
}

.msg-form label {
  padding-left: 10px;
  font-weight: 500;
  color: white;
}

.msg-form #msg {
  width: 425px;
  margin-left: 10px;
  height: 200px;
  text-align: left;
  padding-top: 10px;
  resize: none;
}

.msg-form #send-btn {
  width: 120px;
  height: 30px;
  display: block;
  margin: 0 auto;
  border-radius: 20px;
  border: none;
}

.contact-body h2 {
  color: white;
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: 30px;
}

.featureContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 50px auto;
  width: 70%;
  background-color: #FFFAFF;
  -webkit-box-shadow: 0 3px 5px #302B27;
          box-shadow: 0 3px 5px #302B27;
  border-radius: 20px;
}

.MobileView {
  display: None;
}

@-webkit-keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.item {
  margin: 10px;
  padding: 20px;
  width: 50%;
}

.buttonContainer {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  text-align: center;
}

.featureButton {
  padding: 15px;
  margin: auto 30px;
  background-color: #EAEAEA;
  border-radius: 50%;
  border: none;
  outline: none;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}

.featureButton:hover {
  opacity: 0.5;
  background-color: #302B27;
}

.featureTitle {
  background-color: #8AE9C1;
  padding: 10px;
  border-radius: 20px;
  margin: 10px auto;
}

.animateFadein {
  -webkit-animation-name: FadeIn;
          animation-name: FadeIn;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.featureInfo {
  padding: 20px;
  width: 50%;
}

.featureImage {
  width: 100%;
  border-radius: 20px;
}

.title {
  text-align: center;
}

@media screen and (max-width: 800px) {
  .MobileView {
    display: block;
  }
  .title {
    margin: 40px;
    padding: 20px;
  }
  .featureContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    margin: 20px auto;
  }
  .featureContainer .featureInfo {
    width: 90%;
  }
  .featureContainer .item {
    width: 90%;
  }
  .buttonContainer {
    display: None;
  }
}

@media screen and (max-width: 600px) {
  .MobileView {
    display: block;
  }
  .title {
    padding: 10px;
    text-align: center;
    font-size: 40px;
  }
  .featureContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .featureContainer .featureInfo {
    width: 70%;
    margin: 0;
  }
  .featureContainer .item {
    margin: 0;
    width: 95%;
    padding: 10px;
  }
  .buttonContainer {
    display: none;
  }
}

body {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #7ea9a4;
}

html {
  scroll-behavior: smooth;
}

.logo {
  width: 10%;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 8vh;
  background-color: white;
  font-family: 'Quicksand', sans-serif;
  margin: 0;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 30%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #7ea9a4;
  text-decoration: none;
  letter-spacing: 4px;
  font-weight: bold;
  font-size: 20px;
}

.welcome {
  text-align: center;
  color: white;
  font-family: 'Quicksand', sans-serif;
}

h1 {
  margin-top: 100px;
  margin-bottom: 10px;
  font-size: 50px;
}

h2 {
  font-size: 20px;
}

.button {
  text-align: center;
  margin-top: 30px;
}

.btn {
  border: 1px solid white;
  background: none;
  padding: 10px 20px;
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
  cursor: pointer;
  margin: 10px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
}

.btn1,
.btn2 {
  color: white;
}

.btn1:hover,
.btn2:hover {
  color: black;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: white;
  z-index: -1;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.btn1::before,
.btn2::before {
  top: 0;
  border-radius: 0 0 50% 50%;
}

.btn1:hover::before,
.btn2:hover::before {
  height: 180%;
}

.login-body {
  font-size: 3em;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  color: white;
}

.login-body__button {
  font-family: "Quicksand", sans-serif;
  background-color: white;
  height: 40px;
  font-size: 20px;
  border-radius: 30px;
  border: none;
  margin: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.login-body__image {
  margin: 1em;
  width: 10%;
}

.login-body h1 {
  padding-bottom: 30px;
}

.login-body__prompt, .login-body__text {
  font-size: 20px;
}

.login-body__info {
  font-family: "Quicksand", sans-serif;
  background-color: white;
  height: 40px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  margin: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.matcher-body {
  background-color: white;
  font-family: "Quicksand", sans-serif;
  overflow-x: hidden;
}

.matcher-body .content-container {
  margin-left: 60px;
}

.matcher-body .matcher-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 18px;
  text-align: center;
  width: 80%;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

.matcher-body .matcher-card {
  background-color: #70a288;
  padding: 20px;
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
  overflow: hidden;
  border-radius: 20px;
  margin-right: 30px;
}

.matcher-body .matcher-card .profile-pic {
  height: 120px;
  width: 120px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
}

.matcher-body .matcher-info {
  padding: 10px;
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  text-align: left;
  border-radius: 20px;
}

.matcher-body .matcher-info .matcher-name {
  font-size: 40px;
  margin-bottom: 40px;
}

.matcher-body .matcher-info h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.matcher-body .matcher-info .request-btn {
  width: 350px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: #F2CD5D;
  font-size: 15px;
  margin-top: 60px;
}

.matcher-body .matcher-info .compatibility-btn {
  width: 250px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: #F2CD5D;
  font-size: 15px;
  margin-top: 60px;
}

.matcher-body .matcher-container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 20px;
  text-align: center;
  width: 80%;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 40px;
}

.matcher-body .matcher-favs {
  padding-top: 10px;
  -webkit-box-flex: 60%;
      -ms-flex: 60%;
          flex: 60%;
  text-align: center;
}

.matcher-body .matcher-socials {
  padding: 10px;
  -webkit-box-flex: 40%;
      -ms-flex: 40%;
          flex: 40%;
}

.matcher-body .matcher-socials .social-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.matcher-body .matcher-socials .social-cards .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.matcher-body .matcher-socials .social-cards .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.matcher-body .matcher-socials .social-cards .links-ig, .matcher-body .matcher-socials .social-cards .links-twitter, .matcher-body .matcher-socials .social-cards .links-sc, .matcher-body .matcher-socials .social-cards .links-tik {
  background-color: #B4A0E5;
  height: 120px;
  margin: 10px;
  margin-top: 10px;
  border-radius: 20px;
  font-weight: 600;
}

.matcher-body .matcher-socials .social-cards .links-ig p, .matcher-body .matcher-socials .social-cards .links-twitter p, .matcher-body .matcher-socials .social-cards .links-sc p, .matcher-body .matcher-socials .social-cards .links-tik p {
  margin: 0;
  margin-top: 10px;
}

.matcher-body .matcher-socials .social-cards .links-ig:after {
  content: "@_vnessah";
  color: white;
  opacity: 0;
}

.matcher-body .matcher-socials .social-cards .links-ig:hover:after {
  opacity: 1;
}

.matcher-body .matcher-socials .social-cards .links-ig:before, .matcher-body .matcher-socials .social-cards .links-ig:after {
  -webkit-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}

.matcher-body .matcher-socials .social-cards .links-twitter:after {
  content: "@_vnessah";
  color: white;
  opacity: 0;
}

.matcher-body .matcher-socials .social-cards .links-twitter:hover:after {
  opacity: 1;
}

.matcher-body .matcher-socials .social-cards .links-twitter:before, .matcher-body .matcher-socials .social-cards .links-twitter:after {
  -webkit-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}

.matcher-body .matcher-socials .social-cards .links-sc:after {
  content: "@_vnessah";
  color: white;
  opacity: 0;
}

.matcher-body .matcher-socials .social-cards .links-sc:hover:after {
  opacity: 1;
}

.matcher-body .matcher-socials .social-cards .links-sc:before, .matcher-body .matcher-socials .social-cards .links-sc:after {
  -webkit-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}

.matcher-body .matcher-socials .social-cards .links-tik:after {
  content: "@_vnessah";
  color: white;
  opacity: 0;
}

.matcher-body .matcher-socials .social-cards .links-tik:hover:after {
  opacity: 1;
}

.matcher-body .matcher-socials .social-cards .links-tik:before, .matcher-body .matcher-socials .social-cards .links-tik:after {
  -webkit-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}

.matcher-body .link-title {
  text-align: center;
  background-color: #EAEAEA;
  height: 40px;
  font-size: 30px;
  border-radius: 20px;
  margin-bottom: 40px;
  font-weight: 600;
}

@media (max-width: 800px) {
  .matcher-body .matcher-container, .matcher-body .matcher-container2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .matcher-body .matcher-card {
    margin-right: 0;
  }
  .matcher-body .social-cards {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
}

.sideNavBar {
  width: 60px;
  background-color: #F2CD5D;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  margin: 0;
  padding: 0;
}

.profileContent {
  margin: 60px;
  padding: 0px 10px;
  text-align: center;
  height: 270px;
}

.profileInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.profileImage {
  width: 20%;
}

.pfp {
  border-radius: 20px;
  width: 225px;
  border: solid #EAEAEA;
}

.aboutMe {
  padding: 0 0 0 60px;
  margin: 20px;
  word-wrap: break;
  width: 60%;
  background-color: #FFFAFF;
  word-wrap: break-word;
  text-align: left;
}

.aboutMe h1 {
  padding: 0;
  margin: 5px;
  font-size: 2.0em;
}

.aboutMe h3 {
  padding: 0;
  margin: 5px;
}

.aboutMe span {
  font-weight: lighter;
}

.profileButtons {
  background-color: #F2CD5D;
  border: none;
  margin: auto;
}

.pbBottom {
  position: fixed;
  bottom: 0;
  padding: 13px;
  left: 0px;
  border-radius: 5px 50px 0 5px;
}

.navLinksProfile {
  margin: 0;
  padding: 0;
}

.profile-but,
.home-but,
.settings-but,
.matches-but,
.instruction-but {
  background-color: #F2CD5D;
  padding: 20px 0;
}

.settings-but {
  display: block;
  background-color: #F2CD5D;
  bottom: 0;
  top: 0;
}

svg {
  width: 2.5em;
  height: 2.5em;
}

@media screen and (max-width: 800px) {
  .profileContent {
    width: 90%;
  }
  .profileContent .profileImage {
    margin: 0;
    padding: 18px;
  }
  .profileContent .profileImage img {
    border-radius: 20px;
  }
  .profileContent .aboutMe {
    padding: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 90px;
  }
  .profileContent .aboutMe h1 {
    text-align: left;
    font-size: 30px;
    margin: 5px;
  }
  .profileContent .aboutMe h3 {
    text-align: left;
    font-size: 20px;
  }
}

@media screen and (max-width: 600px) {
  .profileContent .profileInfo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .profileContent .profileInfo .item {
    width: 100%;
  }
  .profileContent .profileInfo img {
    display: block;
    margin: 10px auto;
    width: 200px;
  }
  .profileContent .aboutMe {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin: 15px;
  }
  .profileContent .aboutMe .item {
    width: 100%;
  }
  .profileContent .aboutMe h1 {
    text-align: center;
    font-size: 30px;
    margin: 5px;
  }
  .profileContent .aboutMe h3 {
    text-align: center;
    font-size: 20px;
  }
}

.contentContainer .Title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contentContainer .Title p {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  background-color: #EAEAEA;
  padding: 10px 60px 10px 30px;
  border-radius: 20px;
  text-align: left;
  position: absolute;
  left: 130px;
}

.contentContainer .Title .item {
  background-color: #EAEAEA;
  border-radius: 50%;
}

.contentContainer .Title .titleIcon {
  display: inline;
  margin: 0;
  width: 40px;
}

.contentContainer .mostRecentThree {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contentContainer .mostRecentThree .item {
  padding: 0;
  border: solid 10px #8AE9C1;
  border-radius: 20px;
  background-color: #FFFAFF;
  -webkit-box-shadow: 0 2px 4px #EAEAEA;
          box-shadow: 0 2px 4px #EAEAEA;
}

.contentContainer .mostRecentThree .item p {
  padding: 5px 5px;
}

.contentContainer .item {
  width: 40%;
  padding: 20px;
}

@media screen and (max-width: 800px) {
  .contentContainer .contentContainer .mostRecentThree {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (max-width: 600px) {
  .contentContainer .mostRecentThree {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin: 0;
  }
  .contentContainer .mostRecentThree .item {
    width: 95%;
  }
}

.BottomContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.BottomContainer img,
.BottomContainer p {
  display: inline-block;
}

.BottomContainer img {
  width: 50px;
  height: 50px;
  float: left;
}

.BottomContainer p {
  background-color: #EAEAEA;
  border-radius: 20px;
  padding: 10px 15px;
  width: 100%;
  text-align: center;
}

.BottomContainer .itemB {
  width: 50%;
  padding: 10px;
}

.BottomContainer .itemB .placement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.BottomContainer .questionaireContainer,
.BottomContainer .socialMediaContainer {
  -webkit-box-shadow: 0 2px 2px #EAEAEA;
          box-shadow: 0 2px 2px #EAEAEA;
  width: 80%;
  display: inline-block;
  margin: 10px;
  padding: 5px;
}

.BottomContainer .media {
  border-radius: 20px;
  background-color: #B4A0E5;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 20px;
  margin: 10px auto;
}

@media screen and (max-width: 800px) {
  .BottomContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (max-width: 600px) {
  .BottomContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: auto;
  }
  .BottomContainer .socialMediaContainer {
    width: 80%;
  }
  .BottomContainer .hideQuestionaire {
    display: none;
  }
  .BottomContainer p {
    width: 100%;
  }
  .BottomContainer .itemB {
    width: 100%;
  }
}

button {
  outline: none;
}

.question-html {
  text-align: center;
  font-family: "Quicksand", sans-serif;
}

.question-body {
  background-color: white;
}

.question-body h2 {
  color: #70a288;
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: 40px;
}

.question-body .question-st {
  margin: 0 0 20px 0;
  color: #70a288;
  font-size: 35px;
}

.question-body .question2-back-btn, .question-body .question2-btn {
  height: 40px;
  font-size: 20px;
  border-radius: 30px;
  border: none;
  margin: 10px;
  margin-bottom: 40px;
  margin-top: 20px;
}

.question-body .question2-back-btn {
  width: 150px;
}

.question-body .question2-btn {
  width: 300px;
  background-color: #F2CD5D;
}

.question-container {
  background-color: #70a288;
  width: 70%;
  height: 400px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  padding: 50px;
  overflow: scroll;
}

.question-container .question-text {
  font-size: 35px;
  margin-bottom: 20px;
  color: white;
}

.question-container .question-sm-text {
  font-size: 25px;
  margin-bottom: 70px;
  color: white;
}

.question-container .question-back-btn, .question-container .question-btn {
  height: 40px;
  font-size: 20px;
  border-radius: 30px;
  border: none;
}

.question-container .question-back-btn {
  width: 150px;
}

.question-container .question-btn {
  width: 300px;
  background-color: #F2CD5D;
}

.question2-container {
  background-color: #70a288;
  width: 70%;
  height: 30%;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  margin-bottom: 20px;
}

.question2-container .question2-text {
  font-size: 30px;
  margin-bottom: 15px;
  margin-top: 10px;
  color: white;
}

.question2-container .question2-sm-text {
  font-size: 25px;
  margin-bottom: 70px;
  text-align: left;
}

.question2-container .option-btn {
  width: 300px;
  height: 60px;
  font-size: 20px;
  border-radius: 30px;
  border: none;
  margin: 20px;
}

.question2-container .question-form {
  text-align: left;
  padding-left: 30px;
  padding-right: 20px;
}

.question2-container .question-form label {
  font-size: 25px;
  color: white;
}

.question2-container .question-form input {
  margin: 20px;
}

.question-submit-html {
  text-align: center;
  font-family: "Quicksand", sans-serif;
}

.question-submit-body {
  background-color: white;
}

.question-submit-body h2 {
  font-size: 40px;
  color: #70a288;
  margin-top: 100px;
  margin-bottom: 50px;
}

.question-submit-body .progress {
  width: 80%;
  background-color: white;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.question-submit-body #progress-bar {
  width: 5%;
  height: 40px;
  background-color: #F2CD5D;
  font-weight: 800;
}

.question-submit-body #generate-text {
  margin-top: 40px;
}

.result-container {
  width: 80%;
  height: 200px;
  background-color: #70a288;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  padding-top: 40px;
}

#result-btn {
  width: 300px;
  height: 60px;
  font-size: 20px;
  border-radius: 30px;
  border: none;
  margin-top: 40px;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
}

#result-btn2 {
  background-color: white;
  width: 300px;
  height: 60px;
  font-size: 20px;
  border-radius: 30px;
  border: none;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
}
/*# sourceMappingURL=styles.css.map */