@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700;1,800&display=swap");
.content {
  font-size: 20px;
  background-color: #FFFAFF;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  margin-top: 120px;
}

.headerOther {
  position: block;
  padding: 0;
  top: 0;
}

.headerOther .header {
  left: 0;
  background-color: #F2CD5D;
  margin: 0;
  top: 0;
  position: absolute;
  padding: 0;
}

.headerOther .header ul {
  background-color: #F2CD5D;
}

.headerOther .header .logo {
  padding: 0;
}

.headerOther .header .logo img {
  width: 120px;
  padding: 0 20px;
}

.title {
  text-align: center;
  padding: 0;
  font-size: 3em;
  margin: 0;
  padding: 60px 20px 10px 20px;
}

.mission {
  text-align: center;
  font-size: 1.9em;
  padding: 0px 100px 50px 100px;
  font-family: "Raleway", sans-serif;
}

.navBar {
  font-size: 20px;
  background-color: #F2CD5D;
  margin: 0;
  padding: 10px;
  width: 100%;
  top: 0;
  left: 0;
}

.navLinks {
  list-style: none;
  margin: auto;
}

.link {
  display: inline;
  font-family: "Quicksand", sans-serif;
  text-align: center;
  text-decoration: none;
  color: #302B27;
  font-weight: bold;
  padding: 10px;
  margin: 0;
  text-align: left;
}

@-webkit-keyframes bounce_1 {
  0% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
  10% {
    -webkit-transform: scale(1, 0.9) translateY(0px);
            transform: scale(1, 0.9) translateY(0px);
  }
  30% {
    -webkit-transform: scale(0.9, 1) translateY(-90px);
            transform: scale(0.9, 1) translateY(-90px);
  }
  100% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
}

@keyframes bounce_1 {
  0% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
  10% {
    -webkit-transform: scale(1, 0.9) translateY(0px);
            transform: scale(1, 0.9) translateY(0px);
  }
  30% {
    -webkit-transform: scale(0.9, 1) translateY(-90px);
            transform: scale(0.9, 1) translateY(-90px);
  }
  100% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
}

.bubblesContainer {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  font-family: "Raleway", sans-serif;
  font-size: 1.4em;
}

.bubblesContainer .p1 {
  padding: 50px 45px;
}

.bubblesContainer .p2 {
  padding: 50px 35px;
}

.bubblesContainer .p4 {
  padding: 50px 40px;
}

.bubblesContainer .p5 {
  padding: 50px 45px;
}

.bubblesContainer .p6 {
  padding: 50px 45px;
}

.bubblesContainer .p1:hover,
.bubblesContainer .p2:hover,
.bubblesContainer .p3:hover,
.bubblesContainer .p4:hover,
.bubblesContainer .p5:hover,
.bubblesContainer .p6:hover,
.bubblesContainer .p7:hover {
  border: solid 3px #EAEAEA;
  -webkit-animation-name: bounce_1;
          animation-name: bounce_1;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
}

.bubblesContainer .b1 {
  background-color: #8AE9C1;
}

.bubblesContainer .b2 {
  background-color: #FC6471;
}

.bubblesContainer .b3 {
  background-color: #B4A0E5;
}

.bubble {
  text-align: center;
  display: inline-block;
  font-size: 0.9em;
  border-radius: 50%;
  font-weight: bolder;
  color: #FFFAFF;
  margin: 5px;
  border: solid 3px #FFFAFF;
  -webkit-transition: border 2s;
  transition: border 2s;
}

.animate {
  -webkit-animation-name: bounce_1;
          animation-name: bounce_1;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.mainA {
  margin: auto 20px;
}

.infoContents {
  background-color: #EAEAEA;
  border-radius: 20px;
  width: 70%;
  margin-top: 30px;
  margin: 50px auto 50px auto;
  padding: 20px;
}

.infoContents .infoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.infoContents .infoTitle {
  word-wrap: break-word;
  background-color: #B4A0E5;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 40px;
  margin: 20px;
  color: #FFFAFF;
  border-radius: 20px;
  text-align: left;
  font-weight: bold;
}

.infoContents .item {
  padding: 10px;
}

.infoContents .infoText {
  width: 50%;
  height: 270px;
  font-size: 1.5em;
}

.infoContents .infoImage {
  width: 65;
}

.infoContents .aboutImages {
  width: 100%;
  display: block;
  margin: auto;
}

.buttonsLR {
  padding: 0;
  margin: 0;
}

.buttonsLR .buttonAbout {
  background-color: #FFFAFF;
  border-radius: 50%;
  border: none;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
  -webkit-box-shadow: 0 2px 2px;
          box-shadow: 0 2px 2px;
  padding: 0;
  margin: 0;
}

.buttonsLR #rClick {
  float: right;
}

.buttonsLR .buttonImage {
  margin: 0;
  padding: 0;
  -webkit-transform: scale(0.5, 0.5);
          transform: scale(0.5, 0.5);
}

.buttonsLR .buttonAbout:hover {
  background-color: #EAEAEA;
  border-radius: 50%;
  -webkit-transition: 1s;
  transition: 1s;
}

.MobileViewAbout {
  display: None;
}

.MobileViewAbout .infoTitle {
  background-color: #EAEAEA;
  color: #302B27;
}

.MobileViewAbout .item {
  background-color: #FFFAFF;
  border-radius: 20px;
}

.MobileViewAbout .b3 {
  background-color: #B4A0E5;
}

.MobileViewAbout .b1 {
  background-color: #8AE9C1;
}

.MobileViewAbout .b2 {
  background-color: #FC6471;
}

.MobileViewAbout .b4 {
  background-color: #274690;
}

.mitem {
  margin: 40px auto;
}

@media screen and (max-width: 800px) {
  .title {
    font-size: 40px;
    margin: 10px;
  }
  .MobileViewAbout {
    display: block;
  }
  .MobileViewAbout .infoContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding: 10px;
    margin: auto;
  }
  .MobileViewAbout .infoTitle {
    padding: 10px;
    text-align: center;
    margin: 10px auto;
  }
  .MobileViewAbout .infoContents {
    width: 90%;
    padding: 5px;
  }
  .MobileViewAbout .infoTitle {
    font-size: 1.4em;
  }
  .MobileViewAbout .infoText {
    font-size: 1.3em;
  }
  .MobileViewAbout .infoText,
  .MobileViewAbout .infoImage {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 90%;
    padding: 5px;
    text-align: center;
  }
  .MobileViewAbout .aboutImages {
    border-radius: 20px;
    width: 95%;
    padding: 5px;
  }
  .bubblesContainer,
  .mainA {
    display: None;
  }
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 30px;
    margin: 10px;
  }
  .MobileViewAbout {
    display: block;
  }
  .MobileViewAbout .infoContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .MobileViewAbout .infoTitle {
    padding: 10px;
    text-align: center;
    margin: 10px auto;
  }
  .MobileViewAbout .infoContents {
    width: 90%;
    padding: 5px;
  }
  .MobileViewAbout .infoTitle {
    font-size: 1.2em;
  }
  .MobileViewAbout .infoText {
    font-size: 1.1em;
  }
  .MobileViewAbout .infoText,
  .MobileViewAbout .infoImage {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 90%;
    padding: 5px;
    text-align: center;
  }
  .MobileViewAbout .aboutImages {
    border-radius: 20px;
    width: 95%;
    padding: 5px;
  }
  .bubblesContainer,
  .mainA, .mission {
    display: None;
  }
}

.contact-html {
  text-align: center;
  font-family: "Quicksand", sans-serif;
  background-color: #FFFAFF;
}

.msg-form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.msg-form input,
.msg-form textarea {
  margin: 10px;
  width: 200px;
  height: 40px;
  text-align: left;
  padding-left: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 1px solid black;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 15px;
}

.msg-form #email {
  width: 425px;
}

.msg-form label {
  padding-left: 10px;
  font-weight: 500;
  color: black;
  font-size: 20px;
}

.msg-form #msg {
  width: 425px;
  margin-left: 10px;
  height: 200px;
  text-align: left;
  padding-top: 10px;
  resize: none;
}

.msg-form .send-btn {
  width: 150px;
  height: 40px;
  display: block;
  margin: 0 auto;
  border-radius: 20px;
  border: none;
  background-color: #F2CD5D;
  font-size: 18px;
}

.contact-body h2 {
  color: black;
  margin-top: 5%;
  margin-bottom: 40px;
  font-size: 40px;
}

.main {
  display: inline;
}

.featureContents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px;
  width: 90%;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.featureContents p {
  position: absolute;
  margin-bottom: 170px;
  margin-left: 150px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.featureContents .teamInfoText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.featureContents .teamInfoText a {
  text-decoration: none;
  color: #302B27;
  font-style: italic;
  -webkit-transition: border-bottom 2s;
  transition: border-bottom 2s;
}

.featureContents .teamInfoText a:hover {
  border-bottom: 1px solid;
  -webkit-transition: 2s;
  transition: 2s;
}

.featureContents .teamInfoText .itemf1 {
  padding: 0;
  margin: 0;
  width: 50%;
}

.featureContents .itemf2 {
  width: 90%;
  padding: 20px 0;
  margin: auto;
}

.featureContents .item {
  text-align: center;
  position: relative;
  width: 400px;
  height: 525px;
  margin: 20px;
  border-radius: 20px;
  padding: 20px;
  border: 1px solid #302B27;
  text-align: center;
}

.featureContents .item img {
  width: 60%;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 5px #302B27;
          box-shadow: 0 2px 5px #302B27;
  padding: 8px;
  border: 2px solid;
}

.featureContents .item .teamIcons {
  width: 40px;
  margin: 10px;
  padding: 0;
  border: none;
  display: inline;
  vertical-align: middle;
}

.featureContents .item .ft {
  top: 245px;
  left: 60px;
  font-size: 1.2em;
  font-weight: bold;
  padding: 10px;
  background-color: #EAEAEA;
  border-radius: 20px;
  width: 60%;
}

.featureContents .item:hover {
  -webkit-box-shadow: 2px 2px 10px #302B27;
          box-shadow: 2px 2px 10px #302B27;
}

.featureContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 50px auto;
  padding: 20px;
  width: 70%;
  background-color: #FFFAFF;
  -webkit-box-shadow: 0 3px 5px #302B27;
          box-shadow: 0 3px 5px #302B27;
  border-radius: 20px;
}

.MobileView {
  display: None;
}

@-webkit-keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.item {
  margin: 10px;
  padding: 20px;
  width: 50%;
}

.buttonContainer {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  text-align: center;
}

.featureButton {
  padding: 15px;
  margin: auto 30px;
  background-color: #EAEAEA;
  border-radius: 50%;
  border: none;
  outline: none;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}

.featureButton:hover {
  opacity: 0.5;
  background-color: #302B27;
}

.featureTitle {
  background-color: #8AE9C1;
  padding: 10px 40px;
  border-radius: 20px;
  margin: 10px auto;
}

.animateFadein {
  -webkit-animation-name: FadeIn;
          animation-name: FadeIn;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.featureInfo {
  padding: 20px;
  width: 50%;
}

.featureImage {
  width: 100%;
  border-radius: 20px;
}

.title {
  text-align: center;
}

@media screen and (max-width: 600px) {
  hr {
    margin: 40px auto;
  }
  .main {
    display: none;
  }
  .item {
    width: 90%;
    padding: 0;
    margin: 10px auto;
    text-align: center;
  }
  .MobileView {
    margin: 10px;
    display: block;
  }
  .MobileView img {
    width: 100%;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 5px #302B27;
            box-shadow: 0 2px 5px #302B27;
    padding: 8px;
    border: 2px solid;
  }
  .MobileView .ft {
    position: block;
    margin: 10px auto;
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px;
    background-color: #EAEAEA;
    border-radius: 20px;
    width: 60%;
  }
  .MobileView .teamIcons {
    display: block;
    width: 40px;
    margin: 10px 25px;
    padding: 10px;
    border: none;
    display: inline;
  }
  .MobileView .teamIcons:hover {
    border: solid;
  }
  .MobileView .teamInfoText {
    margin-left: auto;
    margin-right: auto;
  }
  .title {
    padding: 10px;
    text-align: center;
    font-size: 40px;
  }
  .featureContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .featureContainer .featureInfo {
    width: 100%;
    margin: 0;
  }
  .featureContainer .item {
    width: 100%;
    margin: 0;
    padding: 10px;
  }
  .buttonContainer {
    display: none;
  }
}

.home-html {
  height: 100vh;
}

.home-body {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
}

.home-body .home-container {
  position: relative;
}

.home-body .home-left {
  color: black;
  font-size: 35px;
  position: absolute;
  margin-left: 5%;
  margin-left: auto;
  margin-right: auto;
}

.home-body .home-left .text {
  text-align: center;
}

.home-body .home-left .button {
  margin-top: 30px;
  background: none;
  margin-left: auto;
  margin-right: auto;
}

.home-body .home-left .btn {
  border: 1px solid black;
  background: none;
  padding: 10px 20px;
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
  cursor: pointer;
  margin: 10px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
}

.home-body .home-left .btn1,
.home-body .home-left .btn2 {
  color: black;
}

.home-body .home-left .btn1:hover,
.home-body .home-left .btn2:hover {
  color: white;
}

.home-body .home-left .btn::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: black;
  z-index: -1;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.home-body .home-left .btn1::before,
.home-body .home-left .btn2::before {
  top: 0;
  border-radius: 0 0 50% 50%;
}

.home-body .home-left .btn1:hover::before,
.home-body .home-left .btn2:hover::before {
  height: 180%;
}

@media (min-width: 1100px) {
  .home-body {
    background-image: url("../images/Group 11.svg");
    background-repeat: no-repeat;
    background-position: right center;
    background-attachment: fixed;
    z-index: -100;
    height: 100vh;
  }
  .home-left {
    margin-top: 300px;
  }
  .home-left .home-left-logo {
    display: none;
  }
  .home-left .text {
    margin-left: 50px;
  }
  .home-left .button {
    text-align: center;
  }
}

@media (max-width: 1100px) {
  .home-body {
    background-color: #FDB9A9;
    overflow-y: visible;
  }
  .home-left {
    margin-top: 200px;
  }
  .home-left .text {
    text-align: center;
    width: 100vw;
    font-size: 20px;
  }
  .home-left .home-left-logo {
    width: 200px;
  }
  .button {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

.header {
  position: fixed;
  width: 100%;
  z-index: 3;
  margin-top: 5px;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #FDB9A9;
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 20px;
}

.header .logo {
  display: block;
  float: left;
  text-decoration: none;
  padding: 0;
}

.header .logo img {
  width: 150px;
  padding: 0 40px;
}

/* menu */
.header .menu {
  clear: both;
  max-height: 0;
  -webkit-transition: max-height .2s ease-out;
  transition: max-height .2s ease-out;
}

/* menu icon */
.header .menu-icon {
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  width: 18px;
  margin-top: 15px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */
.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 500px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media (min-width: 825px) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

@media (max-width: 825px) {
  .header .logo {
    display: none;
  }
  .home-body {
    background-color: #FDB9A9;
    background-image: none;
  }
  .header ul {
    background-color: white;
  }
}

.login-html {
  overflow-x: hidden;
}

.login-bg {
  background-image: url(../images/authentication.png);
  background-size: 50%;
  background-position: right center;
}

.login-body {
  font-size: 3em;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  color: white;
  background-color: #70a288;
  width: 50%;
  float: left;
  height: 70%;
  border-radius: 20px;
  margin-top: 150px;
  margin-left: 40px;
  padding: 10px;
}

.login-body__button {
  font-family: "Quicksand", sans-serif;
  background-color: #F2CD5D;
  height: 40px;
  font-size: 20px;
  border-radius: 20px;
  margin: 5px;
  width: 220px;
  border: none;
  margin-bottom: 20px;
}

.login-body__image {
  margin: 1em;
  width: 120px;
}

.login-body h1 {
  padding-bottom: 30px;
}

.login-body__prompt, .login-body__text {
  font-size: 20px;
}

.login-body__info {
  font-family: "Quicksand", sans-serif;
  background-color: white;
  height: 40px;
  font-size: 20px;
  border-radius: 10px;
  margin: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.login-body__link {
  text-decoration: none;
  color: black;
}

.login-body__link:hover {
  color: white;
}

.login-body__forgot {
  font-size: 20px;
  color: black;
}

.login-body__forgot-link {
  text-decoration: none;
  color: white;
}

@media (max-width: 800px) {
  .login-bg {
    background: none;
  }
  .login-body {
    margin-left: 20px;
    margin-right: 20px;
    width: 90%;
  }
}

.content-container {
  margin-left: 60px;
}

.matcher-body {
  background-color: white;
  font-family: "Quicksand", sans-serif;
  overflow-x: hidden;
}

.matcher-body .matcher-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 18px;
  text-align: center;
  width: 80%;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

.matcher-body .matcher-card {
  background-color: #70a288;
  padding: 20px;
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
  overflow: hidden;
  border-radius: 20px;
  margin-right: 30px;
}

.matcher-body .matcher-card .profile-pic {
  height: 120px;
  width: 120px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
}

.matcher-body .matcher-info {
  padding: 10px;
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  text-align: left;
  border-radius: 20px;
}

.matcher-body .matcher-info .matcher-name {
  font-size: 40px;
  margin-bottom: 40px;
}

.matcher-body .matcher-info h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.matcher-body .matcher-info .request-btn {
  width: 350px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: #F2CD5D;
  font-size: 15px;
  margin-top: 60px;
}

.matcher-body .matcher-info .compatibility-btn {
  width: 250px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: #F2CD5D;
  font-size: 15px;
  margin-top: 60px;
}

.matcher-body .matcher-container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 20px;
  text-align: center;
  width: 80%;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 40px;
}

.matcher-body .matcher-favs {
  padding-top: 10px;
  -webkit-box-flex: 60%;
      -ms-flex: 60%;
          flex: 60%;
  text-align: center;
}

.matcher-body .matcher-socials {
  padding: 10px;
  -webkit-box-flex: 40%;
      -ms-flex: 40%;
          flex: 40%;
}

.matcher-body .matcher-socials .social-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.matcher-body .matcher-socials .social-cards .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.matcher-body .matcher-socials .social-cards .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.matcher-body .matcher-socials .social-cards .links-ig, .matcher-body .matcher-socials .social-cards .links-twitter, .matcher-body .matcher-socials .social-cards .links-sc, .matcher-body .matcher-socials .social-cards .links-tik {
  background-color: #B4A0E5;
  height: 120px;
  margin: 10px;
  margin-top: 10px;
  border-radius: 20px;
  font-weight: 600;
}

.matcher-body .matcher-socials .social-cards .links-ig p, .matcher-body .matcher-socials .social-cards .links-twitter p, .matcher-body .matcher-socials .social-cards .links-sc p, .matcher-body .matcher-socials .social-cards .links-tik p {
  margin: 0;
  margin-top: 10px;
}

.matcher-body .matcher-socials .social-cards .links-ig:after {
  content: "@_vnessah";
  color: white;
  opacity: 0;
}

.matcher-body .matcher-socials .social-cards .links-ig:hover:after {
  opacity: 1;
}

.matcher-body .matcher-socials .social-cards .links-ig:before, .matcher-body .matcher-socials .social-cards .links-ig:after {
  -webkit-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}

.matcher-body .matcher-socials .social-cards .links-twitter:after {
  content: "@_vnessah";
  color: white;
  opacity: 0;
}

.matcher-body .matcher-socials .social-cards .links-twitter:hover:after {
  opacity: 1;
}

.matcher-body .matcher-socials .social-cards .links-twitter:before, .matcher-body .matcher-socials .social-cards .links-twitter:after {
  -webkit-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}

.matcher-body .matcher-socials .social-cards .links-sc:after {
  content: "@_vnessah";
  color: white;
  opacity: 0;
}

.matcher-body .matcher-socials .social-cards .links-sc:hover:after {
  opacity: 1;
}

.matcher-body .matcher-socials .social-cards .links-sc:before, .matcher-body .matcher-socials .social-cards .links-sc:after {
  -webkit-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}

.matcher-body .matcher-socials .social-cards .links-tik:after {
  content: "@_vnessah";
  color: white;
  opacity: 0;
}

.matcher-body .matcher-socials .social-cards .links-tik:hover:after {
  opacity: 1;
}

.matcher-body .matcher-socials .social-cards .links-tik:before, .matcher-body .matcher-socials .social-cards .links-tik:after {
  -webkit-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}

.matcher-body .link-title {
  text-align: center;
  background-color: #EAEAEA;
  height: 40px;
  font-size: 30px;
  border-radius: 20px;
  margin-bottom: 40px;
  font-weight: 600;
}

@media (max-width: 800px) {
  .matcher-body .matcher-container, .matcher-body .matcher-container2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .matcher-body .matcher-card {
    margin-right: 0;
  }
  .matcher-body .social-cards {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
}

.contentB {
  font-size: 20px;
  background-color: #FFFAFF;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  margin-top: 120px;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
  height: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px grey;
          box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border: 2px solid #9ca1a3;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #302B27;
}

.sideNavBar {
  width: 60px;
  background-color: #F2CD5D;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  margin: 0;
  padding: 0;
}

.profileContent {
  margin-left: 60px;
  padding: 0px 10px;
  text-align: center;
  height: 270px;
}

.profileContent .leftBox, .profileContent .rightBox {
  margin: 20px auto;
}

.profileContent .leftBox {
  float: left;
  width: 40%;
}

.profileContent .leftBox .leftBoxContainer {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.profileContent .leftBox .leftBoxContainer .item {
  width: 75%;
  margin: 10px auto;
  padding: 10px;
  background-color: #FFFAFF;
  border-radius: 20px;
}

.profileContent .leftBox .leftBoxContainer .item h1 {
  padding: 0;
}

.profileContent .leftBox .leftBoxContainer .item .welcomeTitle {
  font-size: 1.9em;
}

.profileContent .leftBox .leftBoxContainer .item .pfp {
  width: 150px;
  padding: 10px;
  margin: 0;
  border-radius: 50%;
  border: solid 1px;
}

.profileContent .leftBox .leftBoxContainer .item p {
  text-align: center;
}

.profileContent .leftBox .leftBoxContainer .item .Title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  vertical-align: center;
}

.profileContent .leftBox .leftBoxContainer .item .Title .item {
  padding: 0;
  margin: 0;
  width: 60px;
  height: 60px;
}

.profileContent .leftBox .leftBoxContainer .item .Title .links {
  background-color: #EAEAEA;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0 30px 0 40px;
  border-radius: 20px;
  margin-left: -30px;
  margin-top: 20px;
}

.profileContent .leftBox .leftBoxContainer .item .Title .linksIcon {
  background-color: #EAEAEA;
  border-radius: 50%;
  z-index: 1;
}

.profileContent .rightBox {
  float: right;
  width: 60%;
  height: 100vh;
}

.profileContent .rightBox .rightBoxContainer {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-left: 1px solid;
}

.profileContent .rightBox .rightBoxContainer .socialMediaContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 10px;
  width: 80%;
}

.profileContent .rightBox .rightBoxContainer .socialMediaContainer .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.profileContent .rightBox .rightBoxContainer .socialMediaContainer .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.profileContent .rightBox .rightBoxContainer .socialMediaContainer .item {
  margin: 10px;
  background-color: #EAEAEA;
  width: 100px;
  border-radius: 20px;
}

.profileContent .rightBox .rightBoxContainer .socialMediaContainer .hideSocial {
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.profileContent .rightBox .rightBoxContainer .socialMediaContainer .hideSocial:hover {
  opacity: 1;
}

.profileContent .rightBox .rightBoxContainer .linksPosition {
  height: 245px;
}

.profileContent .rightBox .rightBoxContainer .linksPosition .linksTitle {
  text-align: left;
}

.profileContent .rightBox .rightBoxContainer .mostRecentThree {
  -webkit-box-flex: display;
      -ms-flex: display;
          flex: display;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid;
}

.profileContent .rightBox .rightBoxContainer .mostRecentThree div {
  margin: 10px;
  padding: 10px;
}

.profileContent .rightBox .rightBoxContainer .mostRecentThree div span,
.profileContent .rightBox .rightBoxContainer .mostRecentThree div p {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.profileContent .rightBox .rightBoxContainer .mostRecentThree div .left {
  float: left;
}

.profileContent .rightBox .rightBoxContainer .mostRecentThree div .right {
  float: right;
}

.profileContent .rightBox .rightBoxContainer .mostRecentThree div:hover {
  -webkit-box-shadow: 0 2px 4px #EAEAEA;
          box-shadow: 0 2px 4px #EAEAEA;
}

.profileContent .rightBox .rightBoxContainer .personalContainerNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0;
  padding: 0;
  border-bottom: solid 2px;
}

.profileContent .rightBox .rightBoxContainer .personalContainerNav .itemN {
  width: 30%;
  padding: 10px 10px;
  margin: 0;
  border-bottom: solid 2px #FFFAFF;
}

.profileContent .rightBox .rightBoxContainer .personalContainerNav .itemN:hover {
  border-bottom: solid 2px #302B27;
}

.profileContent .rightBox .rightBoxContainer .personalContainer .questionaireContainer {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 350px;
}

.profileContent .rightBox .rightBoxContainer .personalContainer .questionaireContainer p {
  border: 2px solid #55ACEE;
  border-radius: 20px;
  width: 80%;
  padding: 10px 5px;
  font-size: 0.8em;
}

.profileContent .rightBox .rightBoxContainer .personalContainer .media {
  border-radius: 20px;
  background-color: #B4A0E5;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 10px;
  margin: 20px auto;
}

.profileContent .rightBox .rightBoxContainer .item {
  width: 75%;
  margin: 5px auto;
  padding: 10px;
}

.profileInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.profileImage {
  width: 30%;
}

.pfp {
  border-radius: 20px;
  width: 225px;
  border: solid #EAEAEA;
  border-radius: 50%;
  vertical-align: center;
  padding: 10px;
  border: 2px solid;
}

.aboutMe {
  margin-bottom: 30px;
  border-bottom: 1px solid;
  padding: 0 0 0 60px;
  margin: 60px 20px;
  word-wrap: break;
  width: 60%;
  background-color: #FFFAFF;
  word-wrap: break-word;
  text-align: left;
}

.aboutMe h1 {
  padding: 0;
  margin: 20px 5px 5px 5px;
  font-size: 3.0em;
}

.aboutMe h3 {
  padding: 0;
  margin: 10px 0;
  font-size: 1.5em;
}

.aboutMe span {
  font-weight: lighter;
}

.profileButtons {
  background-color: #F2CD5D;
  border: none;
  margin: auto;
}

.pbBottom {
  position: fixed;
  bottom: 0;
  padding: 13px;
  left: 0px;
  border-radius: 5px 50px 0 5px;
}

.navLinksProfile {
  margin: 0;
  padding: 0;
}

.profile-but,
.home-but,
.settings-but,
.matches-but,
.instruction-but {
  background-color: #F2CD5D;
  padding: 20px 0;
}

.settings-but {
  display: block;
  background-color: #F2CD5D;
  bottom: 0;
  top: 0;
}

svg {
  width: 2.5em;
  height: 2.5em;
}

@media screen and (max-width: 800px) {
  .profileContent {
    width: 90%;
  }
  .profileContent .profileImage {
    margin: 0;
    padding: 18px;
  }
  .profileContent .profileImage .pfp {
    border-radius: 50%;
  }
  .profileContent .aboutMe {
    padding: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 90px;
  }
  .profileContent .aboutMe h1 {
    text-align: left;
    font-size: 30px;
    margin: 5px;
  }
  .profileContent .aboutMe h3 {
    text-align: left;
    font-size: 20px;
  }
}

@media screen and (max-width: 600px) {
  .profileContent .profileInfo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .profileContent .profileInfo .item {
    width: 100%;
  }
  .profileContent .profileInfo img {
    display: block;
    margin: 10px auto;
    width: 200px;
    border-radius: 50%;
  }
  .profileContent .aboutMe {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin: 15px;
  }
  .profileContent .aboutMe .item {
    width: 100%;
  }
  .profileContent .aboutMe h1 {
    text-align: center;
    font-size: 30px;
    margin: 5px;
  }
  .profileContent .aboutMe h3 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
  }
}

.contentContainer .Title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5em;
}

.contentContainer .Title p {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  background-color: #EAEAEA;
  padding: 10px 60px 10px 30px;
  border-radius: 20px;
  text-align: left;
  position: absolute;
  left: 130px;
}

.contentContainer .Title .item {
  background-color: #EAEAEA;
  border-radius: 50%;
}

.contentContainer .Title .titleIcon {
  display: inline;
  margin: 0;
  width: 40px;
}

.contentContainer .mostRecentThree {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contentContainer .mostRecentThree .item {
  padding: 0;
  border: solid 10px #8AE9C1;
  border-radius: 20px;
  background-color: #FFFAFF;
  font-size: 1.3em;
}

.contentContainer .mostRecentThree .item p {
  padding: 5px 5px;
}

.contentContainer .item {
  width: 40%;
  padding: 20px;
}

@media screen and (max-width: 800px) {
  .contentContainer .contentContainer .mostRecentThree {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (max-width: 600px) {
  .contentContainer .mostRecentThree {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin: 0;
  }
  .contentContainer .mostRecentThree .item {
    width: 95%;
  }
}

.BottomContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.BottomContainer img,
.BottomContainer p {
  display: inline-block;
  width: 90%;
}

.BottomContainer img {
  width: 50px;
  height: 50px;
  float: left;
}

.BottomContainer .qTitles {
  background-color: #EAEAEA;
  border-radius: 20px;
  padding: 10px 15px;
  width: 90%;
  text-align: center;
}

.BottomContainer .itemB {
  width: 50%;
  padding: 10px;
  font-size: 1.2em;
}

.BottomContainer .itemB .placement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5em;
}

.BottomContainer .questionaireContainer,
.BottomContainer .socialMediaContainer {
  -webkit-box-shadow: 0 2px 2px #EAEAEA;
          box-shadow: 0 2px 2px #EAEAEA;
  width: 80%;
  display: inline-block;
  margin: 10px;
  padding: 5px;
}

.BottomContainer .questionaireContainer {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 500px;
}

.BottomContainer .questionaireContainer p {
  border: 4px solid #55ACEE;
  border-radius: 20px;
  width: 90%;
  padding: 10px 5px;
}

.BottomContainer .media {
  border-radius: 20px;
  background-color: #B4A0E5;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 20px;
  margin: 10px auto;
}

@media screen and (max-width: 800px) {
  .BottomContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (max-width: 600px) {
  .BottomContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: auto;
  }
  .BottomContainer .socialMediaContainer {
    width: 80%;
  }
  .BottomContainer .hideQuestionaire {
    display: none;
  }
  .BottomContainer .qTitles {
    width: 100%;
  }
  .BottomContainer .itemB {
    width: 100%;
  }
}

button {
  outline: none;
}

.question-html {
  text-align: center;
  font-family: "Quicksand", sans-serif;
}

.question-body {
  background-color: white;
}

.question-body h2 {
  color: #70a288;
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: 40px;
}

.question-body .question-st {
  margin: 0 0 20px 0;
  color: #70a288;
  font-size: 35px;
}

.question-body .question2-back-btn, .question-body .question2-btn {
  height: 40px;
  font-size: 20px;
  border-radius: 30px;
  border: none;
  margin: 10px;
  margin-bottom: 40px;
  margin-top: 20px;
}

.question-body .question2-back-btn {
  width: 150px;
}

.question-body .question2-btn {
  width: 300px;
  background-color: #F2CD5D;
}

.question-container {
  background-color: #70a288;
  width: 70%;
  height: 400px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  padding: 50px;
}

.question-container .question-text {
  font-size: 35px;
  margin-bottom: 20px;
  color: white;
}

.question-container .question-sm-text {
  font-size: 25px;
  margin-bottom: 100px;
  color: white;
}

.question-container .question-back-btn, .question-container .question-btn {
  height: 60px;
  font-size: 25px;
  border-radius: 30px;
  border: none;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  margin: 20px;
}

.question-container .question-back-btn {
  width: 150px;
}

.question-container .question-btn {
  width: 300px;
  background-color: #F2CD5D;
}

@media (max-width: 800px) {
  .question-container {
    height: auto;
  }
}

.question2-container {
  background-color: #70a288;
  width: 70%;
  height: 30%;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  margin-bottom: 20px;
}

.question2-container .question2-text {
  font-size: 30px;
  margin-bottom: 15px;
  margin-top: 15px;
  color: white;
}

.question2-container .question2-sm-text {
  font-size: 25px;
  margin-bottom: 70px;
  text-align: left;
}

.question2-container .group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  margin-bottom: 15px;
}

.question2-container .group input[type="radio"] {
  visibility: hidden;
  height: 0;
  width: 0;
}

.question2-container .group label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  vertical-align: middle;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #EAEAEA;
  color: black;
  padding: 5px 10px;
  border-radius: 50px;
  height: 50px;
  margin: 15px;
  font-size: 23px;
  font-weight: 500;
}

.question2-container .group input[type="radio"]:checked + label {
  background-color: #B4A0E5;
  color: white;
}

.question2-container .group input[type="radio"]:hover:not(:checked) + label {
  color: #B4A0E5;
}

.question2-container .question-form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
  height: 3em;
  line-height: 3;
  overflow: hidden;
  border-radius: .25em;
  margin-left: auto;
  margin-right: auto;
  color: white;
  margin-bottom: 20px;
}

.question2-container .question-form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0 !important;
  background-image: none;
  background-color: #EAEAEA;
}

.question2-container .question-form select::-ms-expand {
  display: none;
}

.question2-container .question-form select {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 20px;
  color: black;
  cursor: pointer;
  font-size: 20px;
}

.question2-container .question-form::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #B4A0E5;
  cursor: pointer;
  pointer-events: none;
}

.question2-container .question-form:hover::after {
  color: #F2CD5D;
}

@media (max-width: 800px) {
  .question2-container .group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .question2-container .group label {
    width: auto;
  }
  .question2-container .question-form {
    margin-bottom: 20px;
    padding: 20px;
    width: 80%;
  }
  .question2-container .question-form::after {
    top: 20px;
    right: 15px;
  }
  .question2-container .question2-text {
    padding: 10px;
    padding-bottom: 0;
  }
}

.question-submit-html {
  text-align: center;
  font-family: "Quicksand", sans-serif;
}

.question-submit-body {
  background-color: white;
}

.question-submit-body h2 {
  font-size: 40px;
  color: #70a288;
  margin-top: 100px;
  margin-bottom: 50px;
}

.question-submit-body .progress {
  width: 80%;
  background-color: white;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.question-submit-body #progress-bar {
  width: 5%;
  height: 40px;
  background-color: #F2CD5D;
  font-weight: 800;
}

.question-submit-body #generate-text {
  margin-top: 40px;
}

.result-container {
  width: 80%;
  height: 200px;
  background-color: #70a288;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  padding-top: 40px;
}

#result-btn {
  width: 300px;
  height: 60px;
  font-size: 20px;
  border-radius: 30px;
  border: none;
  margin-top: 40px;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
}

#result-btn2 {
  background-color: white;
  width: 300px;
  height: 60px;
  font-size: 20px;
  border-radius: 30px;
  border: none;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
}

.result-body {
  text-align: center;
  font-family: "Quicksand", sans-serif;
}

.result-body h1 {
  color: black;
  text-align: center;
}

.result-body .results-container {
  height: 420px;
  background-color: #F2CD5D;
  border-radius: 20px;
  margin-right: 40px;
  margin-left: 100px;
}

.result-body h2 {
  font-size: 30px;
  margin: auto;
  color: black;
  height: 20px;
}

.result-body .container {
  max-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  margin-left: 40px;
  margin-right: 40px;
}

.result-body .container .profile {
  min-width: 300px;
  height: 300px;
  line-height: 120px;
  text-align: center;
  background-color: lightblue;
  margin-right: 2px;
  padding: 20px;
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
  overflow: hidden;
  border-radius: 20px;
  margin-right: 20px;
  margin-top: 20px;
  font-size: 18px;
}

.result-body .profile-pic {
  margin-top: 30px;
  height: 120px;
  width: 120px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
}

.result-body p {
  font-size: 20px;
  color: black;
  font-weight: bold;
  margin-top: -50px;
}

.settings {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.settings .settings div {
  border-style: dotted;
}

.settings-iframe-1 {
  margin: 10em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 10em;
  padding-right: 10em;
}

.settings-iframe-1__button {
  margin-bottom: 2em;
  background-color: #F2CD5D;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
}

.settings-iframe-1__button:hover {
  background-color: #B4A0E5;
}

.settings-iframe-2 {
  margin: 10em;
}

.settings-iframe-2 iframe {
  display: block;
  width: 100%;
  height: 100%;
}

/* mobile - starts at tablet size (1024px) */
@media (max-width: 1024px) {
  .settings {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .settings .settings div {
    border-style: dotted;
  }
  -iframe-1 {
    margin: 10em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding-left: 10em;
    padding-right: 10em;
    -ms-flex-negative: 2;
        flex-shrink: 2;
  }
  -iframe-1__button {
    margin-bottom: 2em;
    width: 95%;
    background-color: #F2CD5D;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-family: "Quicksand", sans-serif;
  }
  -iframe-1__button:hover {
    background-color: #B4A0E5;
  }
}

.register-html {
  overflow-x: hidden;
}

.register-body {
  text-align: center;
  color: black;
  font-family: "Quicksand", sans-serif;
  margin-top: 100px;
}

.register-form input {
  margin: 10px;
  width: 200px;
  height: 30px;
  text-align: center;
  padding-left: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 1px solid black;
  font-family: "Quicksand", sans-serif;
}

.register-form label.register-body-headings {
  font-weight: bold;
}

.register-form label.register-body-desc {
  font-size: 15px;
}

.register-form input.submit {
  text-align: center;
}

.register-form #register-body-gender {
  border-radius: 10px;
  height: 30px;
}

.register-form #register-body-age {
  width: 125px;
}

.register-form #register-body-date {
  width: 435px;
}

.register-form #register-body-location {
  width: 435px;
}

.register-form #register-body-email {
  width: 435px;
}

.register-form #register-body-username {
  width: 435px;
}
/*# sourceMappingURL=styles.css.map */