@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700;1,800&display=swap");
.content {
  font-size: 20px;
  background-color: #FFFAFF;
  font-family: "Quicksand", sans-serif;
}

.title {
  text-align: center;
  padding: 0;
  font-size: 3em;
  margin: 0;
  padding: 60px 20px;
}

.navBar {
  background-color: #F2CD5D;
  margin: 0;
  padding: 0;
  width: 100%;
  right: 0;
}

.navLinks {
  list-style: none;
  margin: auto;
}

.link {
  display: inline;
  font-family: "Quicksand", sans-serif;
  text-align: center;
  text-decoration: none;
  color: #302B27;
  font-weight: bold;
  padding: 10px;
  margin: 0;
  text-align: left;
}

.bubblesContainer {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  font-family: "Raleway", sans-serif;
  font-size: 1.1em;
}

.bubblesContainer .p1 {
  padding: 50px 45px;
}

.bubblesContainer .p2 {
  padding: 50px 35px;
}

.bubblesContainer .p3 {
  padding: 50px 35px;
}

.bubblesContainer .p4 {
  padding: 50px 40px;
}

.bubblesContainer .p5 {
  padding: 50px 45px;
}

.bubblesContainer .p6 {
  padding: 50px 45px;
}

.bubblesContainer .p7 {
  padding: 50px 30px;
}

.bubble {
  text-align: center;
  display: inline-block;
  font-size: 0.9em;
  border-radius: 50%;
  font-weight: bolder;
  color: #FFFAFF;
  margin: 5px;
  border: solid 3px #FFFAFF;
  -webkit-transition: border 2s;
  transition: border 2s;
}

@-webkit-keyframes bounce-1 {
  0% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
  10% {
    -webkit-transform: scale(1, 0.9) translateY(0px);
            transform: scale(1, 0.9) translateY(0px);
  }
  30% {
    -webkit-transform: scale(0.9, 1) translateY(-90px);
            transform: scale(0.9, 1) translateY(-90px);
  }
  100% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
}

@keyframes bounce-1 {
  0% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
  10% {
    -webkit-transform: scale(1, 0.9) translateY(0px);
            transform: scale(1, 0.9) translateY(0px);
  }
  30% {
    -webkit-transform: scale(0.9, 1) translateY(-90px);
            transform: scale(0.9, 1) translateY(-90px);
  }
  100% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
}

.p1:hover,
.p2:hover,
.p3:hover,
.p4:hover,
.p5:hover,
.p6:hover,
.p7:hover {
  border: solid 3px #EAEAEA;
  -webkit-animation: bounce-1;
          animation: bounce-1;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
}

.b1 {
  background-color: #8AE9C1;
}

.b2 {
  background-color: #FC6471;
}

.b3 {
  background-color: #B4A0E5;
}

.b4 {
  background-color: #55ACEE;
}

.infoContents {
  background-color: #EAEAEA;
  border-radius: 20px;
  width: 70%;
  margin-top: 30px;
  margin: 50px auto 50px auto;
  padding: 30px;
}

.infoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.infoTitle {
  word-wrap: break-word;
  background-color: #B4A0E5;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 40px;
  margin: 20px;
  color: #FFFAFF;
  border-radius: 20px;
  text-align: left;
  font-weight: bold;
}

.item {
  padding: 10px;
  margin: 5px;
}

.infoText {
  width: 50%;
}

.infoImage {
  width: 50%;
}

.aboutImages {
  width: 100%;
}

.buttonAbout {
  background-color: #EAEAEA;
  border-radius: 50%;
  border: none;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
  -webkit-box-shadow: 0 2px 2px;
          box-shadow: 0 2px 2px;
}

.buttonImage {
  -webkit-transform: scale(0.8, 0.8);
          transform: scale(0.8, 0.8);
}

.buttonAbout:hover {
  background-color: #FFFAFF;
  border-radius: 50%;
  -webkit-transition: 1s;
  transition: 1s;
}

.contact-html {
  text-align: center;
  font-family: "Quicksand", sans-serif;
}

.msg-form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.msg-form input, .msg-form textarea {
  margin: 10px;
  width: 200px;
  height: 30px;
  text-align: left;
  padding-left: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  border: none;
}

.msg-form #email {
  width: 425px;
}

.msg-form label {
  padding-left: 10px;
  font-weight: 500;
  color: white;
}

.msg-form #msg {
  width: 425px;
  margin-left: 10px;
  height: 200px;
  text-align: left;
  padding-top: 10px;
  resize: none;
}

.msg-form #send-btn {
  width: 120px;
  height: 30px;
  display: block;
  margin: 0 auto;
  border-radius: 20px;
  border: none;
}

.contact-body h2 {
  color: white;
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: 30px;
}

.featureContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 50px auto;
  width: 70%;
  background-color: #FFFAFF;
  -webkit-box-shadow: 0 5px 8px #302B27;
          box-shadow: 0 5px 8px #302B27;
}

@-webkit-keyframes FadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.item {
  margin: 10px;
  padding: 20px;
  width: 50%;
}

.buttonContainer {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  text-align: center;
}

.featureButton {
  padding: 15px;
  margin: auto 30px;
  background-color: #EAEAEA;
  border-radius: 50%;
  border: none;
  outline: none;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}

.featureButton:hover {
  opacity: 0.5;
  background-color: #302B27;
}

.featureTitle {
  background-color: #8AE9C1;
  padding: 10px;
  border-radius: 20px;
  margin: 10px auto;
}

.animateFadein {
  -webkit-animation-name: FadeIn;
          animation-name: FadeIn;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.featureInfo {
  padding: 20px;
  width: 50%;
}

.featureImage {
  width: 100%;
}

.title {
  text-align: center;
}

body {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #7ea9a4;
}

html {
  scroll-behavior: smooth;
}

.logo {
  width: 10%;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 8vh;
  background-color: white;
  font-family: 'Quicksand', sans-serif;
  margin: 0;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 30%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #7ea9a4;
  text-decoration: none;
  letter-spacing: 4px;
  font-weight: bold;
  font-size: 20px;
}

.welcome {
  text-align: center;
  color: white;
  font-family: 'Quicksand', sans-serif;
}

h1 {
  margin-top: 100px;
  margin-bottom: 10px;
  font-size: 50px;
}

h2 {
  font-size: 20px;
}

.button {
  text-align: center;
  margin-top: 30px;
}

.btn {
  border: 1px solid white;
  background: none;
  padding: 10px 20px;
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
  cursor: pointer;
  margin: 10px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
}

.btn1,
.btn2 {
  color: white;
}

.btn1:hover,
.btn2:hover {
  color: black;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: white;
  z-index: -1;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.btn1::before,
.btn2::before {
  top: 0;
  border-radius: 0 0 50% 50%;
}

.btn1:hover::before,
.btn2:hover::before {
  height: 180%;
}

.matcher-html {
  text-align: center;
  font-family: "Quicksand", sans-serif;
}

.matcher-container {
  background-color: white;
  width: 80%;
  height: 300px;
  margin-top: 50px;
  margin-left: 15%;
  margin-right: auto;
  border-radius: 30px;
}

.matcher-container .matcher-card {
  background-color: #F2CD5D;
  width: 30%;
  height: 300px;
  border-radius: 30px;
  position: absolute;
  overflow: hidden;
}

.matcher-container .matcher-card .profile-pic {
  height: 120px;
  width: 120px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  margin: 20px;
}

.matcher-container .matcher-info {
  padding: 20px;
  padding-left: 40%;
  text-align: left;
}

.matcher-container .matcher-info .matcher-name {
  font-size: 40px;
  margin-bottom: 40px;
}

.matcher-container .matcher-info h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.matcher-container .matcher-info .request-btn {
  float: right;
  margin-top: 80px;
  width: 200px;
  height: 50px;
  font-size: 17px;
  border-radius: 20px;
  border: none;
  background-color: #F2CD5D;
}

.matcher-container2 {
  width: 80%;
  height: 300px;
  margin-top: 100px;
  margin-left: 15%;
  margin-right: auto;
  border-radius: 20px;
  overflow: hidden;
}

.matcher-container2 .matcher-favs {
  width: 50%;
  height: 300px;
  border-radius: 20px;
  position: absolute;
}

.matcher-container2 .matcher-favs h3 {
  margin-bottom: 70px;
  text-align: left;
  color: white;
  font-size: 25px;
  margin-left: 20px;
}

.matcher-container2 .matcher-links {
  margin-left: 50%;
  position: absolute;
}

.matcher-container2 .matcher-links .link-title {
  background-color: white;
  height: 40px;
  font-size: 30px;
  border-radius: 10px;
  margin-bottom: 40px;
}

.matcher-container2 .matcher-links .links {
  background-color: #B4A0E5;
  height: 40px;
  width: 280px;
  font-size: 25px;
  border-radius: 10px;
  text-align: left;
  padding-left: 10px;
  padding-top: 3px;
  margin-bottom: 30px;
  color: white;
}

.sideNavBar {
  width: 60px;
  background-color: #F2CD5D;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  margin: 0;
  padding: 0;
}

.profileContent {
  margin-left: 60px;
  padding: 0px 10px;
  text-align: center;
  height: 270px;
}

.profileInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.profileImage {
  width: 20%;
}

.pfp {
  border-radius: 20%;
  width: 200px;
  border: solid #EAEAEA;
}

.aboutMe {
  padding: 0 0 0 60px;
  margin: 20px;
  word-wrap: break;
  width: 60%;
  background-color: #FFFAFF;
  word-wrap: break-word;
  text-align: left;
  -webkit-box-shadow: 0 2px 8px #302B27;
          box-shadow: 0 2px 8px #302B27;
}

.aboutMe h1 {
  padding: 0;
  margin: 5px;
  font-size: 2.0em;
}

.aboutMe h3 {
  padding: 0;
  margin: 5px;
}

.aboutMe span {
  font-weight: lighter;
}

.profileButtons {
  background-color: #F2CD5D;
  border: none;
  margin: auto;
}

.pbBottom {
  position: fixed;
  bottom: 0;
  padding: 13px;
  left: 0px;
  border-radius: 5px 50px 0 5px;
}

.navLinksProfile {
  margin: 0;
  padding: 0;
}

.profile-but,
.home-but,
.settings-but,
.matches-but,
.instruction-but {
  background-color: #F2CD5D;
  padding: 20px 0;
}

.settings-but {
  display: block;
  background-color: #F2CD5D;
  bottom: 0;
  top: 0;
}

svg {
  width: 2.5em;
  height: 2.5em;
}

.linksContent .linkTitle {
  background-color: #EAEAEA;
  text-align: left;
  padding: 2px 5px;
  border-radius: 20px;
}

.linksContent .linkTitle p {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
}

.linksContent .mostRecentThree {
  margin: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 20px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  overflow-x: scroll;
  background-color: aqua;
}

.linksContent .item {
  background-color: red;
  width: 40%;
  padding: 20px;
}

.question-html {
  text-align: center;
  font-family: "Quicksand", sans-serif;
}

.question-body {
  background-color: white;
}

.question-body h2 {
  color: #70a288;
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: 40px;
}

.question-body .question-st {
  margin: 0 0 20px 0;
  color: #70a288;
  font-size: 35px;
}

.question-body .question2-back-btn, .question-body .question2-btn {
  height: 40px;
  font-size: 20px;
  border-radius: 30px;
  border: none;
  margin: 10px;
  margin-bottom: 40px;
  margin-top: 20px;
}

.question-body .question2-back-btn {
  width: 150px;
}

.question-body .question2-btn {
  width: 300px;
  background-color: #F2CD5D;
}

.question-container {
  background-color: #70a288;
  width: 70%;
  height: 400px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  padding: 50px;
  overflow: scroll;
}

.question-container .question-text {
  font-size: 35px;
  margin-bottom: 20px;
  color: white;
}

.question-container .question-sm-text {
  font-size: 25px;
  margin-bottom: 70px;
  color: white;
}

.question-container .question-back-btn, .question-container .question-btn {
  height: 40px;
  font-size: 20px;
  border-radius: 30px;
  border: none;
}

.question-container .question-back-btn {
  width: 150px;
}

.question-container .question-btn {
  width: 300px;
  background-color: #F2CD5D;
}

.question2-container {
  background-color: #70a288;
  width: 70%;
  height: 30%;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  margin-bottom: 20px;
}

.question2-container .question2-text {
  font-size: 30px;
  margin-bottom: 15px;
  margin-top: 10px;
  color: white;
}

.question2-container .question2-sm-text {
  font-size: 25px;
  margin-bottom: 70px;
  text-align: left;
}

.question2-container .option-btn {
  width: 300px;
  height: 60px;
  font-size: 20px;
  border-radius: 30px;
  border: none;
  margin: 20px;
}

.question2-container .question-form {
  text-align: left;
  padding-left: 30px;
  padding-right: 20px;
}

.question2-container .question-form label {
  font-size: 25px;
  color: white;
}

.question2-container .question-form input {
  margin: 20px;
}

.question-submit-html {
  text-align: center;
  font-family: "Quicksand", sans-serif;
}

.question-submit-body {
  background-color: white;
}

.question-submit-body h2 {
  font-size: 40px;
  color: #70a288;
  margin-top: 100px;
  margin-bottom: 50px;
}

.question-submit-body .progress {
  width: 80%;
  background-color: white;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.question-submit-body #progress-bar {
  width: 5%;
  height: 40px;
  background-color: #F2CD5D;
  font-weight: 800;
}

.result-container {
  width: 80%;
  height: 200px;
  background-color: #70a288;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  padding-top: 40px;
}

#result-btn {
  width: 300px;
  height: 60px;
  font-size: 20px;
  border-radius: 30px;
  border: none;
  margin-top: 40px;
}

#result-btn2 {
  background-color: white;
  width: 300px;
  height: 60px;
  font-size: 20px;
  border-radius: 30px;
  border: none;
}
/*# sourceMappingURL=styles.css.map */