.about-body {
    font-family: $quicksand-font;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
}
.content {
    font-size: $navBartext-fontsize;
    background-color: $magnoliaWhite-color;
    font-family: $quicksand-font;
    font-size: 16px;
    margin-top:120px;
}

.headerOther{
    position:block;
    padding:0;
    top:0;
    .header{
        left:0;
        background-color:$pinkCoral-color;
        margin:0;
        top:0;
        position: absolute;
        padding:0;
        ul{
            background-color:$pinkCoral-color;
        }
        .logo {
            padding:0;
            img {
                width: 120px;
                padding:0 20px;
            }
        }
    }
}
.title {
    text-align: center;
    padding: 0;
    font-size: 3em;
    margin: 0;
    padding:60px 20px 10px 20px;
}
.mission{
    text-align: center;
    font-size: 1.9em;
    padding:0px 100px 50px 100px;
    font-family: $raleway-font;
}

.navBar {
    font-size: $navBartext-fontsize;
    background-color: $orangeYellowCrayola-color;
    margin: 0;
    padding: 10px;
    width: 100%;
    top: 0;
    left: 0
}

.navLinks {
    list-style: none;
    margin: auto;

}

.link {
    display: inline;
    font-family: $quicksand-font;
    text-align: center;
    text-decoration: none;
    color: $jet-color;
    font-weight: bold;
    padding: 10px;
    margin: 0;
    text-align: left;
}

@keyframes bounce_1 {
    0% {
        transform: scale(1, 1) translateY(0);
    }

    10% {
        transform: scale(1, .9) translateY(0px);
    }

    30% {
        transform: scale(.9, 1) translateY(-90px);
    }

    100% {
        transform: scale(1, 1) translateY(0);
    }
}


.bubblesContainer {
    // position:;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-family: $raleway-font;
    font-size: 1.4em;

    .p1 {
        padding: 50px 45px;
    }

    .p2 {
        padding: 50px 35px;
    }

    .p4 {
        padding: 50px 40px;
    }

    .p5 {
        padding: 50px 45px;
    }

    .p6 {
        padding: 50px 45px;
    }

    .p1:hover,
    .p2:hover,
    .p3:hover,
    .p4:hover,
    .p5:hover,
    .p6:hover,
    .p7:hover {
        border: solid 3px $platinum-color;
        animation-name: bounce_1;
        animation-duration: 4s;
        animation-iteration-count: 2;

    }


    .b1 {
        background-color: $magicMint-color;
    }

    .b2 {
        background-color: $fieryRose-color;
    }

    .b3 {
        background-color: $maximumBluePurple-color;
    }



}



.bubble {
    text-align: center;
    display: inline-block;
    font-size: 0.9em;
    border-radius: 50%;
    font-weight: bolder;
    color: $magnoliaWhite-color;
    margin: 5px;
    border: solid 3px $magnoliaWhite-color;
    transition: border 2s;
}

.animate {
    animation-name: bounce_1;
    animation-delay: 3s;
    animation-duration: 2s;
    animation-iteration-count: 1;
}



.mainA {
    margin: auto 20px;
    // position:fixed;
}

.infoContents {
    background-color: $platinum-color;
    border-radius: 20px;
    width: 70%;
    margin-top: 30px;
    margin: 50px auto 80px auto;
    padding: 20px;

    .infoContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .infoTitle {
        word-wrap: break-word;
        background-color: $maximumBluePurple-color;
        width: fit-content;
        padding: 10px 40px;
        margin: 20px;
        color: $magnoliaWhite-color;
        border-radius: 20px;
        text-align: left;
        font-weight: bold;
    }

    .item {
        padding: 10px;
    }

    .infoText {
        width: 50%;
        height: 270px;
        font-size: 1.5em;
    }

    .infoImage {
        width: 65;
    }

    .aboutImages {
        width: 100%;
        display:block;
        margin:auto;
    }
}

.buttonsLR {
    padding:0;
    margin:0;

    .buttonAbout {
    
        background-color: $magnoliaWhite-color;
        border-radius: 50%;
        border: none;
        transition: background-color 1s;
        box-shadow: 0 2px 2px;
        padding:0;
        margin:0;

    }
    #rClick{
        float:right;
    }

    .buttonImage {
        margin:0;
        padding:0;
        transform: scale(0.5, 0.5);

    }

    .buttonAbout:hover {
        background-color: $platinum-color;
        border-radius: 50%;
        transition: 1s;
    }
}

.MobileViewAbout {
    display: None;

    .infoTitle {
        background-color: $platinum-color;
        color: $jet-color;
    }

    .item {
        background-color: $magnoliaWhite-color;
        border-radius: 20px;
        ;

    }

    .b3 {
        background-color: $maximumBluePurple-color;
    }

    .b1 {
        background-color: $magicMint-color;
    }

    .b2 {
        background-color: $fieryRose-color;
    }

    .b4 {
        background-color: $darkCornflowerBlue-color;
    }
}

.mitem {
    margin: 40px auto;
}

@media screen and (max-width: 800px) {

    .title {
        font-size: 40px;
        margin: 10px;
    }

    .MobileViewAbout {
        display: block;

        .infoContainer {
            flex-direction: column;
            width: 100%;
            padding: 10px;
            margin: auto;
        }

        .infoTitle {
            padding: 10px;
            text-align: center;
            margin: 10px auto;

        }

        .infoContents {
            width: 90%;
            padding: 5px;
        }
        .infoTitle{
            font-size:1.4em
        }
        .infoText{
            font-size:1.3em;
        }

        .infoText,
        .infoImage {
            height: fit-content;
            width: 90%;
            padding: 5px;
            text-align: center;
        }

        .aboutImages {
            border-radius: 20px;
            width: 95%;
            padding: 5px;
        }
    }

    .bubblesContainer,
    .mainA {
        display: None;
    }

}

@media screen and (max-width: 600px) {
    .title {
        font-size: 30px;
        margin: 10px;
    }

    .MobileViewAbout {
        display: block;

        .infoContainer {
            flex-direction: column;
            width: 100%;
            padding: 0;
            margin: 0;

        }

        .infoTitle {
            padding: 10px;
            text-align: center;
            margin: 10px auto;

        }

        .infoContents {
            width: 90%;
            padding: 5px;
        }

        .infoTitle{
            font-size:1.2em
        }
        .infoText{
            font-size:1.1em;
        }
        .infoText,
        .infoImage {
            height: fit-content;
            width: 90%;
            padding: 5px;
            text-align: center;
        }

        .aboutImages {
            border-radius: 20px;
            width: 95%;
            padding: 5px;

        }
    }


    .bubblesContainer,
    .mainA, .mission {
        display: None;
    }
}