.content {
    font-size: $navBartext-fontsize;
    background-color: $magnoliaWhite-color;
    font-family: $quicksand-font;
}

.title {
    text-align: center;
    padding: 0;
    font-size: 3em;
    margin: 0;
    padding: 60px 20px;
}

.navBar {
    background-color: $orangeYellowCrayola-color;
    margin: 0;
    padding: 0;
    width: 100%;
    right: 0;
}

.navLinks {
    list-style: none;
    margin: auto;

}

.link {
    display: inline;
    font-family: $quicksand-font;
    text-align: center;
    text-decoration: none;
    color: $jet-color;
    font-weight: bold;
    padding: 10px;
    margin: 0;
    text-align: left;
}

.bubblesContainer {
    text-align: center;
    // display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-family: $raleway-font;
    font-size: 1.1em;

    .p1 {
        padding: 50px 45px;
    }

    .p2 {
        padding: 50px 35px;
    }

    .p3 {
        padding: 50px 35px;
    }

    .p4 {
        padding: 50px 40px;
    }

    .p5 {
        padding: 50px 45px;
    }

    .p6 {
        padding: 50px 45px;
    }

    .p7 {
        padding: 50px 30px;
    }

}

.bubble {
    text-align: center;
    display: inline-block;
    font-size: 0.9em;
    border-radius: 50%;
    font-weight: bolder;
    color: $magnoliaWhite-color;
    margin: 5px;
    border: solid 3px $magnoliaWhite-color;
    transition: border 2s;


    // box-shadow: -1px 2px 2px #000000;
}

@keyframes bounce-1 {
    0% {
        transform: scale(1, 1) translateY(0);
    }

    10% {
        transform: scale(1, .9) translateY(0px);
    }

    30% {
        transform: scale(.9, 1) translateY(-90px);
    }

    100% {
        transform: scale(1, 1) translateY(0);
    }
}

.p1:hover,
.p2:hover,
.p3:hover,
.p4:hover,
.p5:hover,
.p6:hover,
.p7:hover {
    border: solid 3px $platinum-color;
    animation: bounce-1;
    animation-duration: 4s;
    animation-iteration-count: 2;

}

.b1 {
    background-color: $magicMint-color;
}

.b2 {
    background-color: $fieryRose-color;
}

.b3 {
    background-color: $maximumBluePurple-color;
}

.b4 {
    background-color: $blueJean-color;
}

.infoContents {
    background-color: $platinum-color;
    border-radius: 20px;
    width: 70%;
    margin-top: 30px;
    margin: 50px auto 50px auto;
    padding: 30px;
}

.infoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.infoTitle {
    word-wrap: break-word;
    background-color: $maximumBluePurple-color;
    width: fit-content;
    padding: 10px 40px;
    margin: 20px;
    color: $magnoliaWhite-color;
    border-radius: 20px;
    text-align: left;
    font-weight: bold;
}

.item {
    padding: 10px;
    margin: 5px;
}

.infoText {
    width: 50%;
}

.infoImage {
    width: 50%;
}

.aboutImages {
    width: 100%;
}

.buttonAbout {
    background-color: $platinum-color;
    border-radius: 50%;
    border: none;
    transition: background-color 1s;
    box-shadow: 0 2px 2px;


}

.buttonImage {
    transform: scale(0.8, 0.8);

}

.buttonAbout:hover {
    background-color: $magnoliaWhite-color;
    border-radius: 50%;
    transition: 1s;
}