.error-content{
    .errorImage {
        z-index: -1;
        display: block;
        margin: 100px  auto;
        width: 65%;
        // height: 50%;

    }
    @media screen and (max-width: 800px) {
        margin: 250px  auto;
        width: 100%;

    }
    @media screen and (max-width: 600px) {
        margin: 450px 10px;
        width: 90%;
    }

}
