.featureContainer {
    display: flex;
    flex-direction: row;
    margin: 50px auto;
    width: 70%;
    background-color: $magnoliaWhite-color;
    box-shadow: 0 3px 5px $jet-color;
    border-radius: 20px;
}
.MobileView{
    display:None;
}

@keyframes FadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.item {
    margin: 10px;
    padding: 20px;
    width: 50%;
}

.buttonContainer {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    text-align: center;

}

.featureButton {
    padding: 15px;
    margin: auto 30px;
    background-color: $platinum-color;
    border-radius: 50%;
    border: none;
    outline: none;
    transition: background-color 1s;
}

.featureButton:hover {
    opacity: 0.5;
    background-color: $jet-color;
}


.featureTitle {
    background-color: $magicMint-color;
    padding: 10px;
    border-radius: 20px;
    margin: 10px auto;

}

.animateFadein {
    animation-name: FadeIn;
    animation-duration: 2s;
}

.featureInfo {
    padding: 20px;
    width: 50%;
}

.featureImage {
    width: 100%;
    border-radius: 20px;
}

.title {
    text-align: center;
}

@media screen and (max-width: 800px) {
    .MobileView{display:block}
    .title{
        margin:40px;
        padding:20px;
    }
    .featureContainer {
        flex-direction: column;
        width:90%;
        margin:20px auto;
        .featureInfo {
            width: 90%;
        }
        .item{
            width:90%;
        }
    }

    .buttonContainer{
        display:None;
    }

}

@media screen and (max-width: 600px) {
    .MobileView{display:block}
    .title{
        padding:10px;
        text-align: center;
        font-size: 40px;

    }
    .featureContainer {
        flex-direction: column;
        width:90%;
        box-shadow: none;
        .featureInfo {
            width: 70%;
            margin:0;
        }
        .item{
            margin:0;
            width:95%;
            padding:10px;
        }
    }

    .buttonContainer{
       display: none;
    }
}