.login-html {
    overflow-x: hidden;
}
.login-bg {
    background-image: url(../images/authentication.png);
    background-size: 50%;
    // background-position: right;
    background-repeat: no-repeat;
    background-position: 50vw;
}

.login-body{
    font-size: 3em;
    text-align: center;
    font-family: $quicksand-font;
    color: white;
    background-color: $polishedPine-color;
    width: 40%;
    // margin-left: auto;
    // margin-right: auto;
    float: left;
    height: 70%;
    border-radius: 20px;
    margin-top: 120px;
    margin-left: 70px;
    padding: 10px;

    &__button{
        font-family: $quicksand-font;
        background-color: $orangeYellowCrayola-color;
        height: 40px;
        font-size: 20px;
        border-radius: 20px;
        margin: 5px;
        width: 220px;
        border: none;
        margin-bottom: 20px;
    }

    &__image{
        margin: 1em;
        width: 120px;
    }
    h1{
        padding-bottom: 30px;
    }

    &__prompt, &__text{
        font-size: $navBartext-fontsize;
    }

    &__info{
        font-family: $quicksand-font;
        background-color: white;
        height: 40px;
        font-size: $navBartext-fontsize;
        border-radius: 10px;
        margin: 10px;
        margin-bottom: 20px;
        text-align: center;


    }

    &__link{
        text-decoration: none;
        color: black;
        &:hover{
            color: white;
        }
    }

    &__forgot{
        font-size: 20px;
        color: black;
        &-link{
            text-decoration: none;
            color: white;
        }
    }


}

@media(max-width: 800px) {
    .login-bg {
        background: none;
    }

    .login-body {
        margin-left: 20px;
        margin-right: 20px;
        width: 90%;

    }
}