//SCROLL BAR
/* width */
::-webkit-scrollbar {
    width: 15px;
    height:20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    // border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    // background:$blueJean-color; 
    border:2px solid rgb(156, 161, 163);
    // border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $jet-color;
  }

.sideNavBar {
    width: 60px;
    background-color: $orangeYellowCrayola-color;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    margin: 0;
    padding: 0;
}

.profileContent {
    margin: 60px;
    padding: 0px 10px;
    text-align: center;
    height: 270px;
}

.profileInfo {
    display: flex;
    flex-direction: row;
}

.profileImage {
    width: 20%;
}

.pfp {
    border-radius: 20px;
    width: 225px;
    border: solid $platinum-color;
}

.aboutMe {
    h1 {
        padding: 0;
        margin: 5px;
        font-size: 2.0em;
    }

    h3 {
        padding: 0;
        margin: 5px;
    }

    span {
        font-weight: lighter;
    }

    padding: 0 0 0 60px;
    margin:20px;
    word-wrap:break;
    width:60%;
    background-color:$magnoliaWhite-color;
    word-wrap: break-word;
    text-align: left;
    // box-shadow: 0 2px 8px $jet-color;
}

.profileButtons {
    background-color: $orangeYellowCrayola-color;
    border: none;
    // width:50%;
    margin: auto;
}

.pbBottom {
    position: fixed;
    bottom: 0;
    padding: 13px;
    left: 0px;
    border-radius: 5px 50px 0 5px
}

.navLinksProfile {
    margin: 0;
    padding: 0;
}

.profile-but,
.home-but,
.settings-but,
.matches-but,
.instruction-but {
    // color:white;
    background-color: $orangeYellowCrayola-color;
    padding: 20px 0;
}

.settings-but {
    display: block;
    background-color: $orangeYellowCrayola-color;
    bottom: 0;
    top: 0;
}

svg {
    width: 2.5em;
    height: 2.5em;
}

@media screen and (max-width: 800px) {
    .profileContent {
        width:90%;
        .profileImage{
            margin:0;
            padding:18px;
            img{
                border-radius:20px;     
                         
            }
        }
        .aboutMe {
            padding: 0;
            flex-direction: row;
            margin-left:90px;

            h1 {
                text-align: left;
                font-size: 30px;
                margin:5px;
            }

            h3 {
                text-align: left;
                font-size: 20px;
            }
        }
    }

}

@media screen and (max-width: 600px) {

    .profileContent{
        .profileInfo {
            flex-direction: column;
            // margin:10px;
            width:100%;
            .item {
                width: 100%;
            }
            img{
                display:block;
                margin:10px auto;
                width: 200px;

    
            }
        }
    .aboutMe {
        width: 100%;
        flex-direction: column;
        text-align: center;
        margin:15px;

        .item {
            width: 100%;
        }
        
        h1 {
            text-align: center;
            font-size: 30px;
            margin:5px;
        }

        h3 {
            text-align: center;
            font-size: 20px;
        }

    }}
}

.contentContainer {
    .Title {
        display: flex;

        p {
            font-family: $quicksand-font;
            font-weight: bold;
            background-color: $platinum-color;
            padding: 10px 60px 10px 30px;
            border-radius: 20px;
            text-align: left;
            position: absolute;
            left: 130px;

        }

        .item {
            background-color: $platinum-color;
            border-radius: 50%;
        }

        .titleIcon {
            display: inline;
            margin: 0;
            width: 40px;
        }


    }

    .mostRecentThree {
        margin: 10px;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        padding: 10px;
        justify-content: space-around;
        // background-color: aqua;

        .item {
            padding: 0;
            border: solid 10px $magicMint-color;
            border-radius: 20px;
            background-color: $magnoliaWhite-color;
            box-shadow: 0 2px 4px $platinum-color;
            font-size:1.2em;

            p{
                padding:5px 5px;
            }

        }

    }

    .item {
        width: 40%;
        padding: 20px;
    }

    @media screen and (max-width: 800px) {
        .contentContainer{
        .mostRecentThree {
            flex-direction: row;

        }
    }

    }

    @media screen and (max-width: 600px) {
        .mostRecentThree {
            width: 100%;
            flex-direction: column;
            text-align: center;
            margin:0;

            .item {
                width: 95%;
            }

        }
    }
}


.BottomContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    img,
    p {
        display: inline-block;
        width:90%;

    }

    img {
        width: 50px;
        height: 50px;
        float: left;
    }

    .qTitles {
        background-color: $platinum-color;
        border-radius: 20px;
        padding: 10px 15px;
        width: 90%;
        text-align: center;

    }

    .itemB {
        width: 50%;
        // margin: 10px;
        padding: 10px;

        // background-color: pink;
        .placement {
            display: flex;
        }
    }

    .questionaireContainer,
    .socialMediaContainer {
        box-shadow: 0 2px 2px $platinum-color;
        width: 80%;
        display: inline-block;
        margin: 10px;
        padding: 5px;
    }
    .questionaireContainer{
        p{
            border: 4px solid $blueJean-color;
            border-radius:20px;
            width:90%;
            padding:10px 5px;
        }
        overflow-y: scroll;
        overflow-x: hidden;
        height:500px;

    }

    .media {
        border-radius: 20px;
        background-color: $maximumBluePurple-color;
        width: fit-content;
        padding: 0 20px;
        margin: 10px auto;
    }

}

@media screen and (max-width: 800px) {
    .BottomContainer {
        flex-direction: row;
    }

}

@media screen and (max-width: 600px) {
    .BottomContainer {

        flex-direction: column;
        // margin-left: 30px;
        margin-right: auto;

        .socialMediaContainer {
            width: 80%;
            // padding:40px;
        }

        .hideQuestionaire {
            display: none;
        }

        .qTitles {
            width: 100%;
        }

        .itemB {
            width: 100%;
        }
    }

}