.contentB{
    font-size: $navBartext-fontsize;
    background-color: $magnoliaWhite-color;
    font-family: $quicksand-font;
    font-size: 16px;
    margin-top:30px;
}
//SCROLL BAR
/* width */
::-webkit-scrollbar {
    width: 15px;
    height: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    // border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    // background:$blueJean-color; 
    border: 2px solid rgb(156, 161, 163);
    // border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $jet-color;
}


.sideNavBar {
    width: 60px;
    background-color: $pinkCoral-color;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    margin: 0;
    padding: 0;
}

.profileContent {
    margin-left: 60px;
    padding: 0px 10px;
    text-align: center;
    height: 270px;

    .leftBox,.rightBox{
        margin:20px auto;
    }

    .leftBox {
    
        float: left;
        width: 40%;
        .leftBoxContainer {
           padding: 20px;
            display: flex;
            flex-direction: column;


            .item {
                width: 75%;
                margin: 10px auto;
                padding: 10px;
                background-color: $magnoliaWhite-color;
                border-radius: 20px;
                p {
                    text-align: center;
                    font-size: 1.3em;
                }
                h1{
                    padding:0;
                }
                .welcomeTitle{
                    font-size:1.9em;
                    margin-top: 0;
                }
               
                .pfp {
                    width: 225px;
                    padding: 10px;
                    margin: 0;
                    border-radius: 50%;
                    border: solid 1px;
                }

             
                .Title {
                                     

                    .item {
                        padding: 0;
                        margin: auto;
                        width: 60px;
                        height: 60px;
                    }

                    .links {
                        background-color: $platinum-color;
                        height: fit-content;
                        padding: 10px 50px;
                        border-radius: 20px;
                        font-size:1.3em;
                        text-align: center;

                    }
                    

                    .linksIcon {
                        background-color: $platinum-color;
                        border-radius: 50%;
                     
                    }



                }
            }
        }

    }

    .rightBox {
        // background-color: red;
        float: right;
        width: 60%;
        height: 100vh;

        .rightBoxContainer {
            padding: 20px;
            display: flex;
            flex-direction: column;
            border-left: 1px solid;
                   
        
            .socialMediaContainer{
                display: flex;
                flex-direction: row;
                margin: 10px;
                width: 80%;
                margin:auto;

                .row,.column{
                    img{
                        width: 40px;
                    }
                    .media{
                        background-color: $platinum-color;
                    }
                }
                .row {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    width: 100%;
                  }
                  
                  .column {
                    display: flex;
                    flex-direction: column;
                    flex-basis: 100%;
                    // flex: 1;
                    
                  }
                .item{
                    margin: 10px;
                    background-color:$platinum-color;
                    width:80%;
                    border-radius: 20px;
                
                }
               
              
            }
            .linksPosition{
                height:245px;
                .linksTitle{
                    text-align:left;
                }
            }
            
            .mostRecentThree {
                flex: display;
                flex-direction: column;
                border: 1px solid;

                div {
                    margin: 10px;
                    padding: 10px;

                    span,
                    p {
                        display: inline-block;
                        padding: 0;
                        margin: 0;

                    }

                    .left {
                        float: left;
                    }

                    .right {
                        float: right;
                    }
                }

                div:hover {
                    box-shadow: 0 2px 4px $platinum-color;


                }
            }


            .personalContainerNav {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                margin: 0;
                padding: 0;
                border-bottom: solid 2px;

                .itemN {
                    width: 30%;
                    padding: 10px 10px;
                    margin: 0;
                    border-bottom: solid 2px $magnoliaWhite-color;
                }

                .itemN:hover {
                    border-bottom: solid 2px $jet-color;
                }
            }

            .personalContainer {
                

                .questionaireContainer {
                    p {
                        border: 2px solid $blueJean-color;
                        border-radius: 20px;
                        width: 80%;
                        padding: 10px 5px;
                        font-size: 0.8em;
                        margin:10px auto;
                    }

                    overflow-y: scroll;
                    overflow-x: hidden;
                 height:350px;
                    
                }

                .media {
                    border-radius: 20px;
                    background-color: $maximumBluePurple-color;
                    width: fit-content;
                    padding: 0 10px;
                    margin: 20px auto;
                }

            }

            .item {
                width: 75%;
                margin: 5px auto;
                // background-color: orange;
                padding: 10px;
                // height:350px;
                // overflow-x:scroll;
               

            }
        }
    }
}

.profileInfo {
    display: flex;
    flex-direction: row;
}

.profileImage {
    width: 30%;
}

.pfp {
    border-radius: 20px;
    width: 225px;
    border: solid $platinum-color;
    border-radius: 50%;
    vertical-align: center;
    padding: 10px;
    border: 2px solid;
}

.aboutMe {
    margin-bottom: 30px;

    h1 {
        padding: 0;
        margin: 20px 5px 5px 5px;
        font-size: 3.0em;
    }

    h3 {
        padding: 0;
        margin: 10px 0;
        font-size: 1.5em;
    }

    span {
        font-weight: lighter;
    }

    border-bottom: 1px solid;
    padding: 0 0 0 60px;
    margin: 60px 20px;
    word-wrap:break;
    width:60%;
    background-color:$magnoliaWhite-color;
    word-wrap: break-word;
    text-align: left;
    // box-shadow: 0 2px 8px $jet-color;
}

.profileButtons {
    background-color: $pinkCoral-color;
    border: none;
    // width:50%;
    margin: auto;
}

.pbBottom {
    position: fixed;
    bottom: 0;
    padding: 13px;
    left: 0px;
    border-radius: 5px 50px 0 5px
}

.navLinksProfile {
    margin: 0;
    padding: 0;


    .tooltip {
        margin-left: 10px;
    }
    .tooltip .tooltiptext {
        visibility: hidden;
        width: 150px;
        background-color: $pinkCoral-color;
        color: black;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
      
        /* Position the tooltip */
        position: absolute;
        z-index: 1;
        top: 20px;
        left: 80px;

      }
      
      .tooltip:hover .tooltiptext {
        visibility: visible;
      }
}

.profile-but,
.home-but,
.settings-but,
.matches-but,
.instruction-but {
    // color:white;
    background-color: $pinkCoral-color;
    padding: 20px 0;
}

.settings-but {
    display: block;
    background-color: $pinkCoral-color;
    bottom: 0;
    top: 0;
}

svg {
    width: 2.5em;
    height: 2.5em;
}


    // @media screen and (max-width: 800px) {
    
    //     .item{
    //         margin: 10px;
    //         background-color:$platinum-color;
    //         width:100px;
    //         border-radius: 20px;
        
    //     }
    // }

@media screen and (max-width: 900px) {
    .profileContent{
        display:None;
    }
    .profileMobileView{
        margin-left: 60px;
        display:block;
           
        .media{
            background-color:$maximumBluePurple-color;
            width: fit-content;
            padding:0 10px;
            border-radius:20px;
            text-align: center;
            margin:10px auto;
        }

        .pfp{
            width:120px;
        }
        .linksIcon{
            width:50px;
            border-radius: 50%;
        }
        .links{
            background-color:$platinum-color;
            padding:5px;
            border-radius: 20px;
        }
        
        h1{
            text-align:center;
        }
        .item{
            padding:10px;
            margin: 10px auto;
            text-align: center;
        }
        
        
    }
    
}

