button {
    outline: none;
}

.question-html {
    text-align: center;
    font-family: $quicksand-font;

}

.question-body {
    background-color: white;
    h2{
        color: $polishedPine-color;
        margin-top: 100px;
        margin-bottom: 50px;
        font-size: 40px;
    }

    .question-st {
        margin: 0 0 20px 0;
        color: $polishedPine-color;
        font-size: 35px;
    }

    .question2-back-btn, .question2-btn {
        height: 40px;
        font-size: 20px;
        border-radius: 30px;
        border: none;
        margin: 10px;
        margin-bottom: 40px;
        margin-top: 20px;
    }
    .question2-back-btn {
        width: 150px;

    }
    .question2-btn {
        width: 300px;
        background-color: $orangeYellowCrayola-color;
    }
}

.question-container {
    background-color: $polishedPine-color;
    width: 70%;
    height: 400px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    padding: 50px;
    overflow: hidden;

    .question-text {
        font-size: 35px;
        margin-bottom: 20px;
        color: white;
    }

    .question-sm-text {
        font-size: 25px;
        margin-bottom: 70px;
        color: white;
    }

    .question-back-btn, .question-btn {
        height: 40px;
        font-size: 20px;
        border-radius: 30px;
        border: none;
    }
    .question-back-btn {
        width: 150px;

    }
    .question-btn {
        width: 300px;
        background-color: $orangeYellowCrayola-color;
    }
}

.question2-container{

    background-color: $polishedPine-color;
    width: 70%;
    height: 30%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    margin-bottom: 20px;

    .question2-text {
        font-size: 30px;
        margin-bottom: 15px;
        margin-top: 15px;
        color: white;
    }

    .question2-sm-text {
        font-size: 25px;
        margin-bottom: 70px;
        text-align: left;
    }

    .group {

        display: flex;
        flex-direction: row;
        color: #fff;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        margin-bottom: 15px;
    
    
        input[type = "radio"] {
            visibility: hidden;
            height: 0;
            width: 0;
        }
    
        label {
            display: flex;
            flex: auto;
            vertical-align: middle;
            align-items: center;
            justify-content: center;
            background-color: $platinum-color;
            color: black;
            padding: 5px 10px;
            border-radius: 50px;
            height: 50px;
            margin: 15px;
            font-size: 23px;
            font-weight: 500;
        }
    
        input[type="radio"]:checked + label {
            background-color: $maximumBluePurple-color;
            color: white;
        }
    
        input[type="radio"]:hover:not(:checked) + label {
            color: $maximumBluePurple-color;
        }
    
    }



    .question-form {
        // text-align: left;
        // padding-left: 30px;
        // padding-right: 20px;
        // margin-bottom: 15px;

        // label {
        //     font-size: 25px;
        //     color: white;
        // }

        // input {
        //     margin: 20px;

        // }

        position: relative;
        display: flex;
        width: 500px;
        height: 3em;
        line-height: 3;
        overflow: hidden;
        border-radius: .25em;
        margin-left: auto;
        margin-right: auto;
        color: white;
        margin-bottom: 20px;


        select {
            -webkit-appearance: none;
            -moz-appearance: none;
            -ms-appearance: none;
            appearance: none;
            outline: 0;
            box-shadow: none;
            border: 0 !important; 
            background-image: none;
            background-color: $platinum-color;
          }

        select::-ms-expand {
            display: none;
        }

        select {
            flex: 1;
            padding-left: 20px;
            color: black;
            cursor: pointer;
            font-size: 20px;
        }

    }

    .question-form::after {
        content: '\25BC';
        position: absolute;
        top: 0;
        right: 0;
        padding: 0 1em;
        background: $maximumBluePurple-color;
        cursor: pointer;
        pointer-events: none;
    }

    .question-form:hover::after {
        color: $orangeYellowCrayola-color;
    }

    @media (max-width: 800px) {
        .group{
          flex-direction: column;
          height: auto;

          label {
              width: auto;
          }
        }

        .question-form {
            margin-bottom: 20px;
            padding: 20px;
            width: 80%;
        }

        .question-form::after {
            top: 20px;
            right: 15px;
        }

        .question2-text {
            padding: 10px;
            padding-bottom: 0;
        }
    }

    

}




.question-submit-html {
    text-align: center;
    font-family: $quicksand-font;
}

.question-submit-body {
    background-color: white;
    
    h2 {
        font-size: 40px;
        color: $polishedPine-color;
        margin-top: 100px;
        margin-bottom: 50px;

    }

    .progress {
        width: 80%;
        background-color: white;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;


    }
      
    #progress-bar {
        width: 5%;
        height: 40px;
        background-color: $orangeYellowCrayola-color;
        font-weight: 800;

    }

    #generate-text {
        margin-top: 40px;
    }


}

.result-container {
    width: 80%;
    height: 200px;
    background-color: $polishedPine-color;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    padding-top: 40px;
}

#result-btn {
    width: 300px;
    height: 60px;
    font-size: 20px;
    border-radius: 30px;
    border: none;
    margin-top: 40px;
    font-family: $quicksand-font;
    font-weight: 600;
    
}

#result-btn2 {
    background-color: white;
    width: 300px;
    height: 60px;
    font-size: 20px;
    border-radius: 30px;
    border: none;
    font-family: $quicksand-font;
    font-weight: 600;
}