.register-body {
    text-align: center;
    color: black;
    font-family: $quicksand-font;
}

.register-form {
    input {
        margin: 10px;
        width: 200px;
        height: 30px;
        text-align: center;
        padding-left: 10px;
        border-radius: 10px;
        margin-bottom: 20px;
        border: 1px solid black;
        font-family: $quicksand-font;
    }
    label.headings {
        font-weight: bold;
    }
    label.desc {
        font-size: 15px;
    }
    input.submit {
        text-align: center;
    }
    #gender {
        border-radius: 10px;
        height: 30px;
    }
    #age {
        width: 125px;
    }
    #date {
        width: 435px;
    }
    #location {
        width: 435px;
    }
    #email {
        width: 435px;
    }
    #username {
        width: 435px;
    }
}