.register-html {
    overflow-x: hidden;
}

.register-bg {
    background-image: url(../images/password.png);
    background-size: 50%;
    // background-position: right;
    background-repeat: no-repeat;
    background-position: 50vw 15vh;
}

.register-container {
    text-align: center;
    font-family: $quicksand-font;
    color: white;
    background-color: $polishedPine-color;
    width: 40%;
    // margin-left: auto;
    // margin-right: auto;
    float: left;
    height: 70%;
    border-radius: 20px;
    margin-top: 120px;
    margin-left: 70px;
    padding: 10px;
}

.register-body {
    text-align: center;
    color: white;
    font-family: $quicksand-font;
    margin-top: 30px;
}

.register-form {
    input {
        margin: 10px;
        width: 200px;
        height: 30px;
        text-align: center;
        padding-left: 10px;
        border-radius: 10px;
        margin-bottom: 20px;
        border: 1px solid black;
        font-family: $quicksand-font;
    }
    label.register-body-headings {
        font-weight: bold;
    }
    label.register-body-desc {
        font-size: 15px;
    }
    input.submit {
        text-align: center;
    }
    #register-body-gender {
        border-radius: 10px;
        height: 30px;
    }
    #register-body-age {
        width: 125px;
    }
    #register-body-date {
        width: 435px;
    }
    #register-body-location {
        width: 435px;
    }
    #register-body-email {
        width: 58%;
    }
    #register-body-username {
        width: 58%;
    }
}

@media(max-width: 800px) {
    .register-bg {
        background: none;
    }
    .register-container {
        margin-left: 20px;
        margin-right: 20px;
        width: 90%;
    }
}